    <!DOCTYPE html>
    <html lang="pt-br">
 <head>
 	<meta name="description" content=" confirma perdido">
 	<meta name="keywords" content=" confirma perdido">
 	<meta name="author" content="onclickup">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Onclickup | confirma perdido</title>
 	<link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
 	<link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.min.css">
 	<link rel="stylesheet" href="../../assets/css/layout/layout.css">
 	<link rel="stylesheet" href="../../assets/css/layout/pedidos.css">
 	<link rel="stylesheet" href="../../assets/css/layout/chat.css">
 	<link rel="stylesheet" href="../../assets/css/layout/footer.css">
 	<link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
 	<link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
 </head>
 <body id="page-top" class="bg-light">
<header>
    {% if empresa_session  %}
        {{ include('layout/nav-header-empresa.html') }}
    {% else %}
        {{ include('layout/nav-header-candidato.html') }}
    {% endif %}
</header>
    <main>
    {% if empresa_session  %}
        {{ include('layout/nav-dashboard-empresa.html') }}
    {% else %}
      {{ include('layout/nav-dashboard-candidato.html') }}
    {% endif %}
 		<h2 align="center" class="font-weight-bold"> Confirma pedido</h2>
 		<section class="main-experi">
 			<section class="card mb-3">
 				<section class="card-body border-left-primary ">
 					<section class="col-md-12">
 						<section class="col-md-12 order-md-4 mb-4">
 							<h4 class="d-flex justify-content-between align-items-center mb-3">
 								<span class="text-primary">Dados do pedido </span>
 							</h4>
 							<form action="\confirmapedido\store" method="post" >

 								<ul class="list-group mb-3">
 									<li class="list-group-item d-flex justify-content-between bg-light">
 
 										<h6> <strong class="text-primary">O Verificar !!!!!!!!!!!!!!! prestador tem até 3 dias para aceitar o pedido.</strong></h6>


 									</li>
 								
 									<li class="list-group-item d-flex justify-content-between lh-condensed">

 										<section>
 											<h6 class="text-success" class="my-0">Serviços prestados</h6>
 											<strong class="text-muted">Cod serviço: 00{{pedi_serv_id}} </strong><br>
 											<strong class="text-muted">Empresa/Responsavel:</strong> {{post_titulo}}<br>
 											<strong class="text-muted">Descricão</strong> {{post_titulo}}<br>
 											<strong class="text-muted">Prazo:</strong> {{serv_prazo}} Dias <br>
 											<strong class="text-muted">Preço: </strong> R${{serv_valor}}<br>
 											<strong class="text-muted">Bairro:</strong> {{ender_bairro}}<br>
 											<strong class="text-muted">Cidade:</strong> {{ender_cidade}}<br>
                    
                          <input type="hidden" name="status_number_id" 
                          value="1">
                          <input type="hidden" name="pedi_valortotal" 
                          value="{{serv_valor}}">
                          <input type="hidden" name="pedi_serv_id" 
                          value="{{pedi_serv_id}}">
                          <input type="hidden" name="statuspe_id" 
                          value="2">
                          <input type="hidden" name="cliente_user_id"
                           value="{{cliente_user_id}}">
                          <input type="hidden" name="prestador_user_id"
                           value="{{prestador_user_id}}">
                          <input type="hidden" name="pedi_acc_id" 
                          value="2">
                          <input type="hidden" name="status_pay_id"
                           value="2">
                          <input type="hidden" name="cidade"
                           value="{{ender_cidade}}">



										
 										</section>
 									</li>
 									<li class="list-group-item d-flex justify-content-between">
 										<span>Taxa para manter a plataforma </span>
 										<strong class="text-success font-weight-bold"> {{taxaservico}}</strong>
 									</li>
 									<li class="list-group-item d-flex justify-content-between">
 										<span>Valor do pedido (R$)</span>
 										<strong class="text-success font-weight-bold"> {{totalaPagar}}</strong>
 									</li>

 								</ul>
 								<label for="atividades" class="text-primary"> Descrição das atividades que o prestado ira realizar.</label>
 								<textarea name="pedi_description" required="" class="form-control" id="atividades">


                                  </textarea>
                                  
                                  
 						</section>
                                   					<button class="btn btn-primary btn-lg btn-block" type="submit">Finalizar Pedido </button>
 						</section>
 					</section>	
 				</section>
 			</section> 
 			</form> 
 					
 					<br>
 					
 					</main> 
 					
 					
 					{{ include('layout/nav-dashboard-end.html') }}
 					 {{ include('layout/footer.html') }} 
 					 
 					 
 					 <!-- Bootstrap core JavaScript-->
 						<script src="../../assets/vendor/jquery/jquery.min.js"></script>
 						<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 						<!-- Core plugin JavaScript-->
 						<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

 						<!-- Custom scripts for all pages-->
 						<script src="../../assets/js/sb-admin-2.min.js"></script>

 </body>

 </html>
