    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="conversa servico">
        <meta name="keywords" content="conversa servico">
        <meta name="author" content="onclickup">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Onclickup | conversa servico</title>

        <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
        <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="../../assets/css/layout/layout.css">
        <link rel="stylesheet" href="../../assets/css/layout/pedidos.css">
        <link rel="stylesheet" href="../../assets/css/layout/chat.css">
        <link rel="stylesheet" href="../../assets/css/layout/footer.css">
        <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">


    </head>



    <body id="page-top">
     <header>
        {% if empresa_session  %}
        {{ include('layout/nav-header-empresa.html') }}
        {% else %}
        {{ include('layout/nav-header-candidato.html') }}
        {% endif %}


    </header>
    <main >
        {% if empresa_session  %}
        {{ include('layout/nav-dashboard-empresa.html') }}
        {% else %}
        {{ include('layout/nav-dashboard-candidato.html') }}
        {% endif %}




        <section class="container">

            <section class="row form-group">
                <section class="col-md-12  col-md-12 ">


                    <section class="main-experi">
                        <article class="card">
                            <section class="card-body">


                                <section class="panel-body ">
                                    <ul class="chat">
                                     <h4> Conversas servicos   </h4>
                                     <br>

                                     {% if  haGetPedidoMensagem     %}
                                     {% for pedidoConversas in getPedidoConversas %}

                                     <li class="left clearfix" >
                                         {% if not userSessionid == pedidoConversas.cliente_user_id %}
                                         <span class="chat-img pull-left">
                                            <figure>

                                                <img class="rounded-circle" width="50px" height="50px" src="../../../assets/img/padraoperfil.svg" alt="User Avatar" class="img-circle" />
                                            </figure>
                                            <!-- pedidoConversas.pmdl_prestador_foto -->
                                        </span>
                                        {% else %}
                                        <span class="chat-img pull-left">
                                            <img class="rounded-circle" width="50px" height="50px" src="../../../assets/img/padraoperfil.svg"  alt="User Avatar" class="img-circle" />
                                            <!-- pedidoConversas.pmdl_cliente_nome -->
                                        </span>
                                        {% endif %}


                                        <section class="chat-body clearfix">

                                            <section class="header">
                                                <strong class="primary-font">{{pedidoConversas.post_titulo}} </strong> 
                                                <small class="pull-right text-muted">
                                                    <a href="/chatservico/chat/{{pedidoConversas.pedi_id}}" class="btn btn-primary btn-sm">chat</a>
                                                    <span class="glyphicon glyphicon-time"></span><br> <br>{{pedidoConversas.pedi_registro | date("d/m/y")}}</small>


                                                </section>
                                                <p>
                                                    codigo pedido:{{pedidoConversas.pedi_id}}<br> {{pedidoConversas.pedi_description}}
                                                </p>
                                            </section>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <h5 align="center" class="text-danger">Não há conversas</h5>


                                        {% endif %}

                                    </ul>
                                </section>


                            </section>
                        </article>
                    </section>
                </section>
            </section>
            </section>

        </main>
        {{ include('layout/nav-dashboard-end.html') }}
        {{ include('layout/footer.html') }}
        <!-- Bootstrap core JavaScript-->
        <script src="../assets/vendor/jquery/jquery.min.js"></script>
        <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="../assets/js/sb-admin-2.min.js"></script>

    </body>

    </html>
