<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Free Web tutorials">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="John Doe">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>onclickup | adicionar vaga</title>
	<link rel="stylesheet" href="../assets/css/bootstrap/bootstrap-reboot.css">
	<link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/layout/adddservico.css">
	<link rel="stylesheet" href="../assets/css/layout/layout.css">
	<link rel="stylesheet" href="../assets/css/layout/footer.css">
	<!-- Custom fonts for this template-->
	<link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<header>
<body id="page-top">
	{{ include('layout/nav-header-empresa.html') }}
</header>
	<main >
	{{ include('layout/nav-dashboard-empresa.html') }}
<section class="main-experi">
		<section class="row">
			<section class="col-xl-12 col-md-10 mb-4">
				<article class="card border-left-success shadow h-100 py-2">
					<section class="card-body">
						<h3>Crie uma vaga de emprego </h3>
						<h5>Adicione pessoas a sua emprega </h5>
						<form action="/empresaaddvaga/store" method="post">
								<input type="hidden" name="tipo_post_id" value="1">
							<section class="form-group">
								<label for="exampleFormControlInput1">Titulo da vaga:</label>
								<input type="text" name="post_titulo" class="form-control" id="exampleFormControlInput1" placeholder="Ex:Atendente callcenter " required>
							</section>
							<section class="form-group">
								<label for="exampleFormControlInput1">Descrição:</label>
								<input type="text" name="post_subtitulo" class="form-control" id="exampleFormControlInput1" placeholder=" Ex: atividades  " required>
							</section>
							<section class="form-group">
								<label for="exampleFormControlTextarea1"> Descrição da vaga :</label>
								<textarea class="form-control" name="post_description" id="exampleFormControlTextarea1" rows="3" placeholder=" Ex: beneficios e vantagems do funcionario" required></textarea>
							</section>
							<section class="form-group">
								<label for="exampleFormControlInput1">Pre requisitos </label>
								<textarea type="text" name="vag_preRequisitos" class="form-control" id="exampleFormControlInput1" placeholder="Ex: valor so serviço fornecido" required>
								 </textarea> 
							</section>
							<section class="form-group">
								<label for="exampleFormControlInput1">Beneficios </label>
								<input type="text" name="vag_beneficios" class="form-control" id="exampleFormControlInput1" placeholder="Ex: valor so serviço fornecido" required>
							</section>
							<section class="form-group">
								<label for="exampleFormControlInput1">Salario (R$) :</label>
								<input type="number" name="vag_salario" class="form-control" id="exampleFormControlInput1" placeholder="Ex:1500" required>
							</section>
							<section class="form-group">
								<label for="exampleFormControlInput1">Quantidade de vagas :</label>
								<input type="number" name="vag_quantidade" class="form-control" id="exampleFormControlInput1" placeholder="Ex: 1, 2, 3">
							</section>
							<section class="form-group">

<br>
								<label for="exampleFormControlestado">Escolaridade</label>
								<select class="form-control"name="esco_id" id="exampleFormControlestado">
								{% for esco in listEscolaridade %}
									<option  value="{{ esco.esco_id}}">{{ esco.esco_nome|e }}</option>
    								{% endfor %}
								</select>
							</section>
							<section class="form-group">
								<label for="tiponivel">Tipo vaga</label>
								<select class="form-control" name="tivaga_id" id="tiponivel">
									<option value="1">Efetivo/CLT</option>
									<option value="2">Tempo Integral</option>
									<option value="3">Temporário</option>
									<option value="4">Estágio</option>
									<option value="5">Aprendiz</option>
									<option value="6">Comissionado</option>
									<option value="7">Autônomo</option>
									<option value="8">Meio Período</option>
									<option value="9">Trainee</option>
								</select>
							</section>
							<section class="form-group">
								<input type="hidden" name="statusvag_id" value="1">
							</section>
							<section class="form-group">
								<label for="cat_id">Categorias</label>
								<select class="form-control" name="cat_id" id="cat_">
										{% for cat in listCategoria %}
									<option  value="{{ cat.cat_id}}">{{ cat.cat_nome|e }}</option>
    								{% endfor %}
								</select>
							</section>
							<section class="form-group">
								<label for="exampleFormControllogra">Logradouro</label>
								<input type="text" name="ender_logradouro" class="form-control" id="exampleFormControllogra" placeholder="Ex: Av Paulista">
							</section>
							<section class="form-group">
								<label for="exampleFormControlbairro">Bairro</label>
								<input type="text" name="ender_bairro" class="form-control" id="exampleFormControlbairro" placeholder="Ex: jardins">
							</section>
							<section class="form-group">
								<label for="exampleFormControlcidade">Cidade</label>
								<input type="text" name="ender_cidade" class="form-control" id="exampleFormControlcidade" placeholder="Ex: são paulo">
							</section>
							<section class="form-group">
								<label for="exampleFormControlestado">Estado</label>
								<select class="form-control" name="est_id" id="exampleFormControlestado">
									{% for est in listEstado %}
									<option  value="{{ est.est_id}}">{{ est.est_nome|e }}</option>
    								{% endfor %}
								</select>
							</section>
						<button class="btn btn-primary"> 	cadastrar</button>
						</form>
					</section>
				</article>
			</section>
		</section>
</section>
	</main>
	{{ include('layout/nav-dashboard-end.html') }}
	{{ include('layout/footer.html') }}
	<script src="../assets/vendor/chart.js/Chart.min.js"></script>
	<script src="../assets/js/demo/chart-area-demo.js"></script>
	<script src="../assets/js/demo/chart-pie-demo.js"></script>
	<script src="../assets/vendor/jquery/jquery.min.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="../assets/js/sb-admin-2.min.js"></script>
</body>

</html>