		<!DOCTYPE html>
		<html lang="pt-br">
		<head>

			<meta charset="UTF-8">
			<meta name="description" content="Vincular Prova a vaga">
			<meta name="keywords" content="Prova a vaga">
			<meta name="author" content="Onclickup">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="../assets/css/bootstrap/bootstrap-reboot.css">
			<link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
			<link rel="stylesheet" href="../assets/css/layout/adddica.css">
			<link rel="stylesheet" href="../assets/css/layout/layout.css">
			<link rel="stylesheet" href="../assets/css/layout/footer.css">
			<link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
			<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
			<title> Onclickup | Vincular Prova a vaga</title>
			<link href="../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
		</head>
		<header>
			{{ include('layout/nav-header-empresa.html') }}
		</header>
		<body id="page-top">
			{{ include('layout/nav-dashboard-empresa.html') }}
			<main class="main-experi">
				<section class="row">
					<section class="col-xl-12 col-md-6 mb-4">
						<section class="card border-left-success shadow  py-2">
							<section class="card-body">
								<h3>Adicione provas as suas vagas criadas</h3>
								<section class="row">
									<section class="col-xl-6 col-md-4 mb-4">
										<section class="form-group">
											<form method="post" action="/empresavincularprovavaga/store">

												<label for="exampleFormControlestado">vagas</label>

												<select class="form-control" name="vag_id" id="exampleFormControlestado">
													{% if haVagas %}	
													{% for vagas in getMinhasvagas %}								
													<option value="{{vagas.vag_id}}"> {{vagas.post_titulo}}</option>
													{% endfor %}
													{% else %}
													<option>não há Vagas</option>
													{% endif %}

												</select>
											</section>
										</section>
										<section class="col-xl-6 col-md-4 mb-4">
											<section class="form-group">

												<label for="exampleFormControlestado">provas</label>
												<select class="form-control" name="pro_id" id="exampleFormControlestado">
													{% if haProvas %}	
													{% for prova in getMinhasprovas %}								
													<option value="{{prova.pro_id}}"> {{prova.pro_nome}}</option>
													{% endfor %}

													{% else %}
													<option>Não há provas</option>
													{% endif %}
												</select>
											</section>
										</section>
									</section>
									<button type="submit" class="btn btn-primary btn-sm">Adicionar prova</button>
								</form>

								<br>
							</section>
							<br>
						</section>
					</section>
				</section>
				<section class="card border-left-success shadow  mb-4 py-2">
					<section class="card-body">
						<h3>Adicione quiz em suas vagas criadas</h3>
						<section class="row">
							<section class="col-xl-6 col-md-4 mb-4">
								<section class="form-group">
									<form method="post" action="/empresavincularprovavaga/store">

										<label for="exampleFormControlestado">Vaga</label>

										<select class="form-control" name="vag_id" id="exampleFormControlestado">
											{% if haVagas %}	
											{% for vagas in getMinhasvagas %}								
											<option value="{{vagas.vag_id}}"> {{vagas.post_titulo}}</option>
											{% endfor %}
											{% else %}
											<option>Não há Vagas</option>


											{% endif %}

										</select>
									</section>
								</section>
								<section class="col-xl-6 col-md-4 mb-4">
									<section class="form-group">

										<label for="exampleFormControlestado">Quiz</label>
										<select class="form-control" name="pro_id" id="exampleFormControlestado">
											{% if haQuiz %}	
											{% for quiz in getMeusQuiz %}								
											<option value="{{quiz.pro_id}}"> {{quiz.pro_nome}}</option>
											{% endfor %}

											{% else %}
											<option>Não há quiz</option>
											{% endif %}
										</select>
									</section>
								</section>
							</section>
							<button type="submit" class="btn btn-primary btn-sm">Adicionar quiz</button>
						</form>

						<br>
					</section>
					<br>
				</section>
			</section>
		</section>
	</main>
	{{ include('layout/nav-dashboard-end.html') }}
	{{ include('layout/footer.html') }}
	<script src="../assets/vendor/chart.js/Chart.min.js"></script>
	<script src="../assets/js/demo/chart-area-demo.js"></script>
	<script src="../assets/js/demo/chart-pie-demo.js"></script>
	<script src="../assets/vendor/jquery/jquery.min.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="../assets/js/sb-admin-2.min.js"></script>

</body>

</html>