 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
    <meta name="description" content="meu plano">
    <meta name="keywords" content="meu plano">
    <meta name="author" content="onclickup">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Onclickup | meu plano</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/layout/layout.css">
    <link rel="stylesheet" href="../../assets/css/layout/pedidos.css">
    <link rel="stylesheet" href="../../assets/css/layout/chat.css">
    <link rel="stylesheet" href="../../assets/css/layout/footer.css">
    <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<body id="page-top" class="bg-light">
    <header>
        {% if empresa_session  %}
        {{ include('layout/nav-header-empresa.html') }}
        {% else %}
        {{ include('layout/nav-header-candidato.html') }}
        {% endif %}
    </header>
    <main>
        {% if empresa_session  %}
        {{ include('layout/nav-dashboard-empresa.html') }}
        {% else %}
        {{ include('layout/nav-dashboard-candidato.html') }}
        {% endif %}
        <h2 align="center" class="font-weight-bold">Aqui você pode conferir seus planos/compras</h2>
        <section class="main-experi">
            <article class="card mb-3">
                <section class="card-body border-left-primary ">
                    <section class="row">
                        <section class="col-md-6">
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-around bg-success">
                                    <h6 align="center"> <strong class="text-white text-center">GRATUITO</strong></h6>
                                </li>
                                <li class="list-group-item d-flex justify-content-around">
                                    <p class="text-success" class="my-0"><strong>INÍCIO</strong> <br>
                                        --------
                                    </p>
                                    <p class="text-success" class="my-0">FIM 
                                        <br>-------</p>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-around">
                                       <p class="text-success" class="my-0"><strong>VALOR:</strong> <br>
                                       Não há valor </p>
                                       <p class="text-success" class="my-0">Status 
                                        <br>   Não há status</p>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </section>  
                </article>
            </section>

</main> 
<!-- <script type="text/javascript">
    function mudaHTML(){
      var valorFinal =  document.getElementById('valorFinal').value;
      console.log(valorFinal);


     // alert(valorFinal);
     var select =  document.getElementById('parcelas');
     var parcelas = select.options[select.selectedIndex].value;

     var arredondaParcela = valorFinal/parcelas;

     valorParcelas =Math.round(arredondaParcela);
     if(valorParcelas == "Infinity"){
        valorParcelas = 0;
    }

    document.getElementById('valorParcelas').value =valorParcelas ;

}
</script> -->

{{ include('layout/nav-dashboard-end.html') }}
{{ include('layout/footer.html') }} 

<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>
