<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>onclickup | quiz perguntas</title>
    <meta charset="UTF-8">
    <meta name="description" content="Quiz perguntas">
    <meta name="keywords" content="Quiz perguntas">
    <meta name="author" content="Onclickup">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../assets/css/layout/adddica.css">
    <link rel="stylesheet" href="../../assets/css/layout/layout.css">
    <link rel="stylesheet" href="../../assets/css/layout/footer.css">
    <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <header>
        {{ include('layout/nav-header-empresa.html') }}
    </header>
    <main>
        {{ include('layout/nav-dashboard-empresa.html') }}
        <section class="main-experi">
            <section class="row">
                <section class="col-xl-12 col-md-12 mb-4">
                    <article class="card border-left-success shadow h-100 py-2">
                        <section class="card-body">
                            <a href="/empresaquestionario/create" class="btn btn-primary btn-sm">quiz</a>
                            <a href="/empresaaddquizpergunta/create/{{pro_id}}" class="btn btn-danger btn-sm">criar Perguntas</a>
                            <hr>
                            {% if haProvaPerguntas > 0 %}
                            {% for provapergunta in getMinhasprovasPerguntas %}
                            {{  messagem('maxQuestionario') | raw }}
                            <section class="card"> 
                                <section class="card-body">
                                  <ul class="list-unstyled"> 
                                    <li class="media my-3">
                                        <figure>
                                      <img src="../../assets/img/book24px.svg" class="mr-3" class="cicle">
                                        </figure>
                                      {% set counter = ( counter | default(0) ) + 1 %}
                                      <h6>   <strong>{{ counter }}</strong>) {{provapergunta.quiz_pergunta}}</h6> <br>
                                  </li>
                              </ul>
                              <section align="center">
                                <a href="\empresaquizperguntas\destroy\{{provapergunta.quiz_id}}" class="btn btn-danger btn-sm ">excluir</a>
                                <a href="\empresaquizeditpergunta\edit\{{provapergunta.quiz_id}}" class="btn btn-primary btn-sm">editar</a>
                            </section>
                        </section>
                    </section>
                    <br>
                    {% endfor %}
                    {% else %}
                    <h6 class ="alert alert-danger ">Não há  Perguntas   </h6>
                    {% endif %}
                </section>
            </article>
        </section>
    </section>
  <!--   <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"> << </a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">>></a></li>
    </ul>
</nav> -->
</section>
</main>
{{ include('layout/nav-dashboard-end.html') }}
{{ include('layout/footer.html') }}
<script src="../../assets/vendor/chart.js/Chart.min.js"></script>
<script src="../../assets/js/demo/chart-area-demo.js"></script>
<script src="../../assets/js/demo/chart-pie-demo.js"></script>
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>