 <!DOCTYPE html>
    <html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="explore serviço">
    <meta name="keywords" content="explore serviço">
    <meta name="author" content="onclickup">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Compiled and minified materialize CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../assets/css/layout/adddica.css">
    <link rel="stylesheet" href="../../assets/css/layout/layout.css">
    <link rel="stylesheet" href="../../assets/css/layout/footer.css">
    <!-- Custom fonts for this template-->
    <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <title> onclickup | explore serviço</title>
    <!-- Custom styles for this template-->
    <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <header>
        {% if empresa_session  %}
        {{ include('layout/nav-header-empresa.html') }}
        {% else %}
        {{ include('layout/nav-header-candidato.html') }}
        {% endif %}


    </header>
    <main >
        {% if empresa_session  %}
        {{ include('layout/nav-dashboard-empresa.html') }}
        {% else %}
        {{ include('layout/nav-dashboard-candidato.html') }}
        {% endif %}



        <section class="main-experi">

            <section class="row">
                <section class="col-xl-12 col-md-12 mb-4">
                    <section class="card border-left-success shadow h-100 py-2">

                        <section class="card-body">
                            <a href="/filtrarservico/create" class="btn btn-info btn-sm">Filtrar serviço</a>
                            <hr>

                            {% if haServicos %}
                            <h4 align="center" class ="text-dark"> Explore serviços   </h4>

                            {% for exploreServico in meusServicos %}
                            <section class="card"> 
                                <section class="card-body">

                                  <ul class="list-unstyled">
                                    <figure>
                                        
                                     <img  class= ""src="../../assets/img/outline-work_outline-24px.svg" class="mr-3" ><strong> Servico </strong>    
                                    </figure>
                                     <br>
                                     <section class="media-body"> <br>
                                        <h4 class="mt-0 mb-1 text-primary">{{exploreServico.post_titulo}}</h4>
                                        <h5 class="mt-0 mb-1 text-primary">{{exploreServico.post_subtitulo}}</h5>

                                        <strong>Descrição: </strong> {{exploreServico.post_description}}<br>
                                        <hr>   
                                        <strong>Categria: </strong> {{exploreServico.cat_nome}}<br>
                                        <strong>Valor (R$): </strong> {{exploreServico.serv_valor}} <br>
                                        {{exploreServico.ender_cidade}}, {{exploreServico.est_nome}} <br>
                                        <hr>    
                                        <strong>Prestador: </strong> <a class="text text-primary " href="/usuario/perfil/{{exploreServico.user_id}}"> {{exploreServico.user_nome}}</a><br>




                                    </section>


                                </li>

                            </ul>
                            <section align="center" class="group-button">
                                <a href="\confirmapedido\create\{{exploreServico.serv_id}}" class="btn btn-success btn-sm">Contratar</a>
                                <a href="\detalheservico\show\{{exploreServico.serv_id}}" class="btn btn-primary btn-sm">ver detalhes</a>
                            </section>
                        </section>
                    </section>
                    <br>
                    {% endfor %}
                    {% else %}


                    <h6 class ="alert alert-danger"> Não há serviços na sua região:   </h6>



                    {% endif %}

                </section>
            </section>
        </section>
    </section>

<!-- 
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#"> << </a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">>></a></li>
  </ul>
</nav> -->


</section>
</main>

{{ include('layout/nav-dashboard-end.html') }}
{{ include('layout/footer.html') }}






<!-- Page level plugins -->
<script src="../../assets/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="../../assets/js/demo/chart-area-demo.js"></script>
<script src="../../assets/js/demo/chart-pie-demo.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../assets/js/sb-admin-2.min.js"></script>

</body>

</html>	