<!DOCTYPE html>
<html lang="{{html_lang}}">
<head>
  <meta charset="{{meta_charse}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
<link rel="stylesheet" href="../../assets/css/layout/layout.css">
<link rel="stylesheet" href="../../assets/css/layout/footer.css">
<link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="imagem/png" href="/imagens/meufavicon.png" />

<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <title> {{title}}</title>
<link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<body id="page-top"> 
  <header>
                {% if pais_id %}
                      {{ include('layout/nav-header-portugues.html') }}
                {% else %}
                    {{ include('layout/nav-header-ingles.html') }}
                {% endif %}

  </header>
  <main>
     {% if pais_id %}
        {{ include('layout/nav-dashboard-portugues.html') }}
      {% else %}
          {{ include('layout/nav-dashboard-ingles.html') }}
      {% endif %}
  <section class="main-experi" >
    <hr class="m-1">  
    <section class="row">
      <section class="col-xl-12 col-md-12 mb-4">
       


        <article class="card border-left-success shadow h-100 py-2">
          
          <section class="card-body">
            <section class="modal fade info-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <section class="modal-dialog modal-lg">
                <section class="modal-content">
                  <section class="card-body">   
                    <h4 align="center"  class="text-primary">{{plano_text_h4}} </h4>
              <br>    
              <hr>

                                  {{acompanhamento}}:<br>
                    {{acompanhamento_text}}<br>
                    <br>

                    {{estrategias}}:<br>
                      {{estrategias_text}}
                    <br> <br>

                    {{projecao_financeira}}: <br>
                    {{projecao_financeira_text}}
                    <br><br>


                    {{Publico_alvo}}:<br>
                    {{Publico_alvo_text}}. <br><br>


                    {{captacao_fundos}}: <br>
                    {{captacao_fundos_text}}


                  </section>
                </section>
              </section>
            </section>





            <h4 class ="text-dark" align="center">  {{plano_negocios_h4}} </h4>
           
             <button  type="button" class="btn btn-info" data-toggle="modal" data-target=".info-lg">{{info}}</button>  
             <a  href="/meusgrupos/grupousuarios/{{grupo_id}}" class="btn btn-primary" style="display: inline;" >{{usuarios}}</a>  
            <hr>

           
       
          <section class="card"> 
            <section class="card-body">

              <ul class="list-unstyled" class="mr-1">
                <li class="media my-4">
                 
                  <section class="media-body"> 

                             
                      {% if haplanoDeNegocios %}


{{compreensao_de_mercado}}:<br>
R: {{pn_compreensao_de_mercado}}
<br>

{{acompanhamento}}:<br>
R: {{pn_acompanhamento}}
<br>

{{estrategias}}:<br>
R: {{pn_estrategias_de_venda}}
<br>

{{projecao_financeira}}:<br>
R: {{pn_projecao_financeira}} 
<br>

{{captacao_fundos}}:<br>
R: {{pn_captacao_fundos_investimento}}
<br>

{{Publico_alvo}}:<br>
R: {{pn_publico_alvo}}
<br>
                                           

                                </section>
                      {% else %}
    <h5 class="center"> {{h5_n_ha_propostas}}</h5>

                      {% endif %}


                </section>
              </li>
            </ul>
         
          </section>
        </section>
        <br>
      </section>
    </article>
  </section>
</section> 

</section>
</main>

{{ include('layout/nav-dashboard-end.html') }}
   {% if pais_id == 1 %}
        {{ include('layout/footer-pt.html') }}
 {% else %}
  {{ include('layout/footer-en.html') }}
 {% endif %}

<script src="../../assets/vendor/chart.js/Chart.min.js"></script>
<script src="../../assets/js/demo/chart-area-demo.js"></script>
<script src="../../assets/js/demo/chart-pie-demo.js"></script>
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>
