<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Empresa vagas">
  <meta name="keywords" content="Empresa vagas">
  <meta name="author" content="onclickup">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="../../assets/css/layout/layout.css">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <title>Onclickup | Empresa vagas</title>
  <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<body id="page-top">
  <header>
    {{ include('layout/nav-header-empresa.html') }}
  </header>
  <main>
    {{ include('layout/nav-dashboard-empresa.html') }}
    <section class="main-experi" >
     <hr class="m-1">  
     <section class="row">
      <section class="col-xl-12 col-md-12 mb-4">
        <article class="card border-left-success shadow h-100 py-2">
          <section class="card-body">
            <h4 class ="text-dark" align="center">  Explore grupos de starstup  </h4>
            {% for grupo in grupoAll %}
            <section class="card"> 
              <section class="card-body">
             
                <ul class="list-unstyled" class="mr-1">
                  <li class="media my-4">
                    <figure>
                      <img src="../../assets/img/outline-ballot-24px.svg" class="mr-1" >
                    </figure>
                    <section class="media-body"> 
                      <h4 class="mt-0 mb-1"> <a href="\empresavervaga\show\{{minhavaga.vag_id}}" class=" text-primary "> {{minhavaga.post_titulo}}</a></h4>
                      <h5 class="mt-0 mb-1 text-primary">{{grupo.cg_nome}}</h5>
                      <!--   <i>  <img width="25" src="../../assets/img/categoria-24px.svg" class="mt-1" > </i>
                        <strong class="text-success"> {{minhavaga.cat_nome}} </strong>
                        <i>  <img width="25" src="../../assets/img/localizacao24px.svg" class="mr-0 mt-1" > </i> 
                        <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i> -->
                        Grupos(20) | Membros(10) 
                      </a> 
                    </section>
                  </li>
                </ul>
                <section align="center" class="group-button">
                  <a href="\grupos\grupo"  class="btn btn-primary btn-sm">ver grupo</a>
             
                </section>
              </section>
            </section>
            <br>
            {% endfor %}
          </section>
        </article>
      </section>
    </section> 
   
    </section>
  </main>
  {{ include('layout/nav-dashboard-end.html') }}
  {{ include('layout/footer.html') }}
  <script src="../../assets/vendor/chart.js/Chart.min.js"></script>
  <script src="../../assets/js/demo/chart-area-demo.js"></script>
  <script src="../../assets/js/demo/chart-pie-demo.js"></script>
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>
