<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Empresa vagas">
  <meta name="keywords" content="Empresa vagas">
  <meta name="author" content="onclickup">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="../../assets/css/layout/layout.css">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <title> SA | meus grupos</title>
  <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<body id="page-top">
  <header>
    {{ include('layout/nav-header-empresa.html') }}
  </header>
  <main>
    {{ include('layout/nav-dashboard-empresa.html') }}
    <section class="main-experi" >
      <hr class="m-1">  
      <section class="row">
        <section class="col-xl-12 col-md-12 mb-4">



          <article class="card border-left-success shadow h-100 py-2">
            <section class="card-body">


              <h4 class ="text-dark" align="center">   Grupos  </h4>
              {% for meusGrupo in getGrupoCategoria %}




              <section class="card"> 
                <section class="card-body">

                  <ul class="list-unstyled" class="mr-1">
                    <li class="media my-4">
                      <figure>
                        <img src="../../assets/img/outline-ballot-24px.svg" class="mr-1" >
                      </figure>
                      <section class="media-body"> 
                        <h4 class="mt-0 mb-1"> {{meusGrupo.gr_nome}}</h4>
                        <h5 class="mt-0 mb-1 text-primary">{{meusGrupo.cg_nome}}</h5>
                        {% if meusGrupo.gu_private == 1%}
                        Grupo Privado |
                        {% endif %}
                        Membros(10) {{meusGrupo.gu_accept}}
                      </a> 
                    </section>
                  </li>
                </ul>
                <section align="center" class="group-button">

                  <form action="\grupos\aderirgrupo" method="post">
                  {% if meusGrupo.gu_private == 1 %}
                      {% if meusGrupo.gu_accept == 1 %}
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">visitar</button>
                        {% elseif meusGrupo.gu_accept == 0 %}
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Cancelar pedido </button>
                        {% else %}
                        <button class="btn btn-primary" role="button" data-toggle="modal" data-target=".bd-example-modal-lg">Aderir grupo</button>
                      {% endif %}
                    {% else %}
                        {% if meusGrupo.gu_accept == 1 %}
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">visitar</button>
                        {% else %}
                        <button class="btn btn-primary" role="button" data-toggle="modal" data-target=".bd-example-modal-lg">Aderir grupo</button>
                      {% endif %}
                    {% endif %}



                  </form>

                </section>
              </section>
            </section>
            <br>
            {% endfor %}
          </section>
        </article>
      </section>
    </section> 

  </section>
</main>
{{ include('layout/nav-dashboard-end.html') }}
{{ include('layout/footer.html') }}
<script src="../../assets/vendor/chart.js/Chart.min.js"></script>
<script src="../../assets/js/demo/chart-area-demo.js"></script>
<script src="../../assets/js/demo/chart-pie-demo.js"></script>
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>
