<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Empresa vagas">
  <meta name="keywords" content="Empresa vagas">
  <meta name="author" content="onclickup">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="../../assets/css/layout/layout.css">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <title> SA | meus grupos</title>
  <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<body id="page-top">
  <header>
    {{ include('layout/nav-header-empresa.html') }}
  </header>
  <main>
    {{ include('layout/nav-dashboard-empresa.html') }}
    <section class="main-experi" >
      <hr class="m-1">  
      <section class="row">
        <section class="col-xl-12 col-md-12 mb-4">
        
          <article class="card border-left-success shadow h-100 py-2">
            <section class="card-body">
            
              <h4 class ="text-dark" align="center">  Meus grupos  </h4>
              <button  type="button" class="btn btn-primary" data-toggle="modal" data-target=".criargrupo-lg">Criar grupo</button>             
              <hr>
              {% for meusGrupo in meusGrupos %}
           
          
                        <h3 class="mt-0 mb-1"> Grupo:{{meusGrupo.gr_nome}}</h4>
                        <h4 class="mt-0 mb-1"> Categoria:{{meusGrupo.cg_nome}}</h4>
                        <hr>
            <section class="card"> 
              <section class="card-body">

                <ul class="list-unstyled" class="mr-1">
                  <li class="media my-4">
                   
                    <section class="media-body"> 
                      <h4 class="mt-0 mb-1"> {{meusGrupo.us_nome}}</h4>
                      <h5 class="mt-0 mb-1"> Email:{{meusGrupo.us_email}}</h5>
                      
           <section align="center" class="group-button">
               <form action="\meusgrupos\admin " method="post" style="display: inline;">
                <input type="hidden" name="redirect" value="2">
                <input type="hidden" name="gu_grupo_id" value="{{meusGrupo.gr_id}}">
                <input type="hidden" name="catgr_id" value="{{meusGrupo.catgr_id}}">
                <input type="hidden" name="gu_accept" value="3">
               <input type="hidden" name="gu_user_id" value="{{meusGrupo.gu_user_id}}">

                <button type="submit"  class="btn btn-success" >admin </button>
              </form>
              
              

               <form action="\meusgrupos\bloquear" method="post" style="display: inline;">
                <input type="hidden" name="redirect" value="2">
                <input type="hidden" name="gu_grupo_id" value="{{meusGrupo.gr_id}}">
                <input type="hidden" name="gu_user_id" value="{{meusGrupo.gu_user_id}}">
                <input type="hidden" name="catgr_id" value="{{meusGrupo.catgr_id}}">
                <input type="hidden" name="gu_accept" value="4">
                <button type="submit"  class="btn btn-danger" >bloquear</button>
                 <a  class="btn btn-info" href="\usuario\perfil\{{meusGrupo.us_id}}" style="display: inline;">perfil</a>
              </form>
            </section>
                  </section>
                </li>
              </ul>


              <section align="center" class="group-button">
                                         

               {% if meusGrupo.adm_user_id == usuario_id or meusGrupo.adm_sub_user_id == usuario_id %}</h4>

              

    {% endif %}
              </section>
            </section>
          </section>
          <br>
          {% endfor %}
        </section>
      </article>
    </section>

</section>
</main>
{{ include('layout/nav-dashboard-end.html') }}
{{ include('layout/footer.html') }}
<script src="../../assets/vendor/chart.js/Chart.min.js"></script>
<script src="../../assets/js/demo/chart-area-demo.js"></script>
<script src="../../assets/js/demo/chart-pie-demo.js"></script>
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>
