
<!DOCTYPE html>
<html lang="{{html_lang}}">
<head>
  <meta charset="{{meta_charset}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
  <link rel="icon" type="image/x-icon" href="../../../assets/Logotipo/faviconstartuparcade.svg" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="../../assets/css/layout/layout.css">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
  <title> {{title}}</title>
  
</head>
<body id="page-top">
  <header>


    {% if pais_id == 1 %}

    {{ include('layout/nav-header-portugues.html') }}
    {% else %}
    {{ include('layout/nav-header-ingles.html') }}
    {% endif %}


  </header>
  <main>


    {% if pais_id == 1 %}

    {{ include('layout/nav-dashboard-portugues.html') }}
    {% else %}
    {{ include('layout/nav-dashboard-ingles.html') }}
    {% endif %}


    <section class="container">

      <section class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">  
         {% for blogcategoria in  getblogcategorias %}           
         <a class="p-2 text-muted" href="/learning/learningcategoria/{{blogcategoria.postblogcat_id}}"> {{blogcategoria.postblogcat_nome|e}}</a>

            {% endfor %}
          </nav>




          {% if admin_session  %}
          <a href="/adminpostblog/create" class="btn btn-outline-secondary"> Adicionar novo artigo ao blog </a>

          {% endif %}
        </section>




     



        <section class="row mb-2">
          {% for post in  postBlog %}  



          <section class="col-md-6">
            <section class="card flex-md-row mb-4 box-shadow h-md-250">
            
              <section class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-danger">{{post.postblogcat_nome}}</strong>
                         <img src="../../../assets/img/{{post.post_img}}" class="card-img-top" alt="{{postBlogDestaques.post_img_alt}}">
                {% if admin_session  %}
                <strong class=text-dark>Local post: {{post.blogdest_nome}} </strong>
                {% endif %} 
             
<hr>

                <h3 class="mb-0">
                  {{post.post_titulo}}
                </h3>
                <section class="mb-1 text-muted">{{post.blog_date | date("m/d/y")}}</section>
                <p class="card-text mb-auto"> <strong>{{post.post_subtitulo}}.</strong></p> <hr>
                <p>{{post.post_description}} <br></p>

                <a href="/learning/show/{{post.blogpost_id}} " class="btn btn-outline-secondary btn-sm">{{continue_lendo}}</a>




                {% if admin_session  %}
                <section class="card-body">
                 <a href="/adminpostblog/destroy/{{post.blogpost_id}}" class="btn btn-danger btn-sm"> {{btn_excluir}} </a>
               </section>
               {% endif %}
             </section>

           </section>

         </section>     

         {% endfor %}
       </section>
     </section>

   </main>

   {{ include('layout/nav-dashboard-end.html') }}
   {% if pais_id == 1 %}
   {{ include('layout/footer-pt.html') }}
   {% else %}
   {{ include('layout/footer-en.html') }}
   {% endif %}

   <script src="../assets/vendor/jquery/jquery.min.js"></script>
   <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
   <script src="../assets/js/sb-admin-2.min.js"></script>

 </body>

 </html>

