
    <!DOCTYPE html>
<html lang="{{html_lang}}">
<head>
  <meta charset="{{meta_charset}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">

    <link rel="icon" type="imagem/png" href="/imagens/meufavicon.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="../../assets/css/layout/layout.css">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <title> {{title}}</title>
  <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<body id="page-top"> 
  <header>
    {% if pais_id %}
    {{ include('layout/nav-header-portugues.html') }}
    {% else %}
    {{ include('layout/nav-header-ingles.html') }}
    {% endif %}

  </header>
  <main>
   {% if pais_id %}
   {{ include('layout/nav-dashboard-portugues.html') }}
   {% else %}
   {{ include('layout/nav-dashboard-ingles.html') }}
   {% endif %}
   <section class="main-experi" >
    <hr class="m-1">  
    <section class="row">
      <section class="col-xl-12 col-md-12 mb-4">


        <article class="card border-left-success shadow h-100 py-2">
          <section class="card-body">
            <section class="modal fade info-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <section class="modal-dialog modal-lg">
                <section class="modal-content">
                  <section class="card-body">   
                    <h4 align="center"  class="text-primary">{{plano_text_h4}} </h4>
                    <br>    
                    <hr>
                     :<br>

                    <br><br>
                    {{acompanhamento}}:<br>
                    {{acompanhamento_text}}<br>
                    <br>

                    {{estrategias}}:<br>
                    {{estrategias_text}}
                    <br> <br>

                    {{projecao_financeira}}: <br>
                    {{projecao_financeira_text}}
                    <br><br>


                    {{Publico_alvo}}:<br>
                    {{Publico_alvo_text}}. <br><br>


                    {{captacao_fundos}}: <br>
                    {{captacao_fundos_text}}


                    {{compreensao_de_mercado}}: <br>
                    {{compreensao_de_mercado_text}}
                    <br><br>
                  </section>
                </section>
              </section>
            </section>

            <section class="modal fade proposta-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <section class="modal-dialog modal-lg">
                <section class="modal-content">
                  <section class="card-body">   
                    <form class="needs-validation" action="/MeusGrupos/meusgruposinfostore" enctype="multipart/form-data" method ="post">
                      <h5>{{proposta_para_grupo}}: {{grupo_nome}}</h5>
                      <h5>{{categoria}}:  {{cg_nome}}</h6>
                        <hr>




                        <section class="form-row">
                        </h4>
                        <section class="col-md-6 mb-3">
                          <label for="validationCustom01">{{compreensao_de_mercado}}</label>
                          <input type="text" name="pn_compreensao_de_mercado" class="form-control" id="validationCustom01" placeholder="{{compreensao_de_mercado}}" required>
                          <section class="invalid-feedback">
                         {{compreensao_de_mercado_required}} !
                          </section>  
                        </section>
                        <section class="col-md-6 mb-3">

                          <label for="pn_acompanhamento">{{acompanhamento}} </label>
                          <input type="text" name="pn_acompanhamento"  class="form-control" id="acompanhamento" placeholder="{{acompanhamento}}" required>
                          <section class="invalid-feedback">
                            {{acompanhamento_required}} !
                          </section>  
                        </section>
                        <section class="col-md-6 mb-3">
                          <label for="pn_estrategias_de_venda"> {{estrategias}}</label>
                          <input type="text" name="pn_estrategias_de_venda"   class="form-control" id="pn_estrategias_de_venda" placeholder="{{estrategias}}"  required>
                          <section class="invalid-feedback">
                          </section>
                          {{estrategias_required}}
                        </section>


                        <section class="col-md-6 mb-3">
                          <label for="pn_projecao_financeira"> {{projecao_financeira}}</label>
                          <input type="text" name="pn_projecao_financeira"   class="form-control" id="pn_projecao_financeira" placeholder="{[projecao_financeira]}"  required>
                          <section class="invalid-feedback">
{{projecao_financeira_required}}
                          </section>
                        </section> 
                        <section class="col-md-6 mb-3">
                          <label for="pn_captacao_fundos_investimento">  {{captacao_fundos}}  </label>
                          <input type="text" name="pn_captacao_fundos_investimento"   class="form-control" id="pn_captacao_fundos_investimento" placeholder="{{captacao_fundos}}"  required>
                          <section class="invalid-feedback">

{{captacao_fundo_required}}                          </section>
                        </section>

                        <section class="col-md-6 mb-3">
                          <label for=" Publico alvo">  {{Publico_alvo}} </label>
                          <input type="text" name="pn_publico_alvo"   class="form-control" id=" Publico alvo" placeholder=" {{Publico_alvo}} "  required>
                          <section class="invalid-feedback">
{{Publico_alvo_required}}                          </section>
                        </section>

                        <input type="hidden" name="pn_grupo_id" value="{{grupo_id}}">



                      </section>


                      <button class="btn btn-primary" type="submit">{{btn_criar_proposta}}</button>
                    </form>
                  </section>
                </section>
              </section>        
            </section> 


            <section class="modal fade editar-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <section class="modal-dialog modal-lg">
                <section class="modal-content">
                  <section class="card-body">   
                    <form class="needs-validation" action="/MeusGrupos/meusgruposinfoupdate" enctype="multipart/form-data" method ="post">                                            
                      <h5 align="center">{{editar_h5}}</h5>
                        <hr>





                        <section class="form-row">
                        </h4>
                        <section class="col-md-6 mb-3">
                          <label for="validationCustom01"> {{compreensao_de_mercado}}</label>
                          <input type="text" name="pn_compreensao_de_mercado" class="form-control" id="validationCustom01" placeholder="compreensao de mercado" value="{{pn_compreensao_de_mercado}}" required>
                          <section class="invalid-feedback">
                              {{compreensao_de_mercado_required}}
                          </section>  
                        </section>
                        <section class="col-md-6 mb-3">
                          <label for="acompanhamento"> {{acompanhamento}} </label>
                          <input type="text" name="pn_acompanhamento"  value="{{pn_acompanhamento}}"  class="form-control" id="acompanhamento" placeholder="acompanhamento" required>
                          <section class="invalid-feedback">
                     {{acompanhamento_required}}
                          </section>  
                        </section>
                        <section class="col-md-6 mb-3">
                          <label for="pn_estrategias_de_venda">{{estrategias}} </label>
                          <input type="text" name="pn_estrategias_de_venda"  VALUE="{{pn_estrategias_de_venda}}" class="form-control" id="pn_estrategias_de_venda" placeholder="{{estrategias}}"  required>
                          <section class="invalid-feedback">
                        {{estrategias_required}}
                          </section>
                        </section>


                        <section class="col-md-6 mb-3">
                          <label for="pn_projecao_financeira"> {{projecao_financeira}} </label>
                          <input type="text" name="pn_projecao_financeira"  value="{{pn_projecao_financeira}}"   class="form-control" id="pn_projecao_financeira" placeholder="{{projecao_financeira}}"  required>
                          <section class="invalid-feedback">
 {{projecao_financeira_required}}
                          </section>
                        </section> 
                        <section class="col-md-6 mb-3">
                          <label for="pn_captacao_fundos_investimento">{{captacao_fundos}}
 </label>
                          <input type="text" name="pn_captacao_fundos_investimento"  value="{{pn_captacao_fundos_investimento}}" class="form-control" id="pn_captacao_fundos_investimento" placeholder="{{captacao_fundos}}"  required>
                          <section class="invalid-feedback">
 {{captacao_fundo_required}}
                          </section>
                        </section> 
                        <section class="col-md-6 mb-3">
                          <label for=" Publico alvo"> {{Publico_alvo}}</label>
                          <input type="text" name="pn_publico alvo"  value="{{pn_publico_alvo}}" class="form-control" id=" Publico alvo" placeholder="{{Publico_alvo}}"  required>
                          <section class="invalid-feedback">
                            {{publico_alvo_required}}
                          </section>
                        </section>


                        <input type="hidden" name="pn_id" value="{{pn_id}}">
                        <input type="hidden" name="pn_grupo_id" value="{{pn_grupo_id}}">


                      </section>


                      <button class="btn btn-primary" type="submit">{{btn_editar_proposta}}</button>
                    </form>
                  </section>
                </section>
              </section>        
            </section>




            <h4 class ="text-dark" align="center">  {{plano_negocios_h4}} </h4>

            <button  type="button" class="btn btn-info" data-toggle="modal" data-target=".info-lg">{{info}}</button>  
            <a  href="/meusgrupos/grupousuarios/{{grupo_id}}" class="btn btn-primary" style="display: inline;" >{{btn_usuarios}}</a>  
            <hr>



            <section class="card"> 
              <section class="card-body">

                <ul class="list-unstyled" class="mr-1">
                  <li class="media my-4">

                    <section class="media-body"> 


                      {% if haplanoDeNegocios %}




{{compreensao_de_mercado}}:<br>
R: {{pn_compreensao_de_mercado}}
<br>

{{acompanhamento}}:<br>
R: {{pn_acompanhamento}}
<br>

{{estrategias}}:<br>
R: {{pn_estrategias_de_venda}}
<br>

{{projecao_financeira}}:<br>
R: {{pn_projecao_financeira}} 
<br>

{{captacao_fundos}}:<br>
R: {{pn_captacao_fundos_investimento}}
<br>

{{publico_alvo}}:<br>
R: {{pn_publico_alvo}}
<br>
                                           



                      <br>
                      <section align="center" class="group-button">
                       <button  type="button" class="btn btn-primary" data-toggle="modal" data-target=".editar-lg">{{editar_h5}}</button>                

                     </section>
                     {% else %}

                     <section align="center" class="group-button">
                       <button  type="button" class="btn btn-primary" data-toggle="modal" data-target=".proposta-lg">{{btn_criar_proposta}}</button>
                     </section>
                     {% endif %}


                   </section>
                 </li>
               </ul>

             </section>
           </section>
           <br>
         </section>
       </article>
     </section>
   </section> 

 </section>
</main>

{{ include('layout/nav-dashboard-end.html') }}
   {% if pais_id == 1 %}
        {{ include('layout/footer-pt.html') }}
 {% else %}
  {{ include('layout/footer-en.html') }}
 {% endif %}

<script src="../../assets/vendor/chart.js/Chart.min.js"></script>
<script src="../../assets/js/demo/chart-area-demo.js"></script>
<script src="../../assets/js/demo/chart-pie-demo.js"></script>
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>
