
  <!DOCTYPE html>
  <html lang="{{html_lang}}">
  <head>
    <meta charset="{{meta_charset}}">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">

    <link rel="icon" type="image/x-icon" href="../../../assets/Logotipo/faviconstartuparcade.svg" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../assets/css/layout/layout.css">
    <link rel="stylesheet" href="../../assets/css/layout/footer.css">
    <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <title>{{title}}</title>
    <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
  </head>
  <body id="page-top"> 
    <header>
      {% if pais_id %}
      {{ include('layout/nav-header-portugues.html') }}
      {% else %}
      {{ include('layout/nav-header-ingles.html') }}
      {% endif %}

    </header>
    <main>
     {% if pais_id %}
     {{ include('layout/nav-dashboard-portugues.html') }}
     {% else %}
     {{ include('layout/nav-dashboard-ingles.html') }}
     {% endif %}
     <section class="main-experi" >
      <hr class="m-1">  
      <section class="row">
        <section class="col-xl-12 col-md-12 mb-4">


          <article class="card border-left-success shadow h-100 py-2">
            <section class="card-body">
              <section class="modal fade info-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <section class="modal-dialog modal-lg">
                  <section class="modal-content">
                    <section class="card-body">   

                      <h4 align="center"  class="text-primary">{{plano_text_h4_info}} </h4>
                      <h6 align="center"  class="text-primary">{{plano_text_h6_info}} </h6>
                      <hr>
                      <h5>  {{cv_proposta_valor}}</h5>
                      {{cv_proposta_valor_text}}<hr>

                      <h5>  {{cv_segmentacao}}</h5>
                      {{cv_segmentacao_text}}<hr>
                      
                      <h5>  {{cv_canais}}</h5>
                      {{cv_canais_text}}<hr>
                      
                      <h5>  {{cv_relacionamento}}</h5>
                      {{cv_relacionamento_text}}<hr>
                      
                      <h5>  {{cv_receitas}}</h5>
                      {{cv_receitas_text}}<hr>
                      

                      <h5>    {{cv_recursos}}</h5>
                      {{cv_recursos_text}}
                      <hr> 


                      <h5>    {{cv_atividades}}</h5>
                      {{cv_atividades_text}}
                      <hr>


                      <h5>   {{cv_parcerias}}</h5>
                      {{cv_parcerias_text}} <hr>



                      <h5>     {{cv_estrutura_de_custos}} </h5>
                      {{cv_estrutura_de_custos_text}}<hr>


                    </section>
                  </section>
                </section>
              </section>

              <section class="modal fade proposta-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <section class="modal-dialog modal-lg">
                  <section class="modal-content">
                    <section class="card-body">   
                      <form class="needs-validation" action="/MeusGrupos/meusgruposinfostore" enctype="multipart/form-data" method ="post">
                        <h5>{{proposta_para_grupo}}: {{grupo_nome}}</h5>
                        <h5>{{categoria}}:  {{cg_nome}}</h6>
                          <hr>


                          <section class="form-row">
                          </h4>
                          <section class="col-md-6 mb-3">
                            <label for="validationCustom01">{{cv_proposta_valor}}</label>
                            <input type="text" name="pn_cv_proposta_valor" class="form-control" id="validationCustom01" placeholder="{{cv_proposta_valor}}" required>
                            <section class="invalid-feedback">
                             {{cv_proposta_valor_required}} !
                           </section>  
                         </section>

                         <section class="col-md-6 mb-3">

                          <label for="cv_segmentacao">{{cv_segmentacao}} </label>
                          <input type="text" name="pn_cv_segmentacao"  class="form-control" id="cv_segmentacao" placeholder="{{cv_segmentacao}}" required>
                          <section class="invalid-feedback">
                            {{cv_segmentacao_required}} !
                          </section>  
                        </section>
                        <section class="col-md-6 mb-3">
                          <label for="cv_canais"> {{cv_canais}}</label>
                          <input type="text" name="pn_cv_canais"   class="form-control" id="cv_canais" placeholder="{{cv_canais}}"  required>
                          <section class="invalid-feedback">
                          </section>
                          {{cv_canais_required}}
                        </section>


                        <section class="col-md-6 mb-3">
                          <label for="cv_relacionamento"> {{cv_relacionamento}}</label>
                          <input type="text" name="pn_cv_relacionamento"   class="form-control" id="cv_relacionamento" placeholder="{[cv_relacionamento]}"  required>
                          <section class="invalid-feedback">
                            {{cv_relacionamento_required}}
                          </section>
                        </section> 



                        <section class="col-md-6 mb-3">
                          <label for="cv_receitas">  {{cv_receitas}}  </label>
                          <input type="text" name="pn_cv_receitas"   class="form-control" id="cv_receitas" placeholder="{{cv_receitas}}"  required>
                          <section class="invalid-feedback">

                          {{cv_receitas__required}}     
                        </section>
                        </section>

                      <section class="col-md-6 mb-3">
                          <label for="cv_recursos">  {{cv_recursos}}  </label>
                          <input type="text" name="pn_cv_recursos"   class="form-control" id="cv_recursos" placeholder="{{cv_recursos}}"  required>
                          <section class="invalid-feedback">

                          {{cv_recursos_required}}     
                        </section>
                        </section>
                      
                        <section class="col-md-6 mb-3">
                          <label for="cv_atividades">  {{cv_atividades}}  </label>
                          <input type="text" name="pn_cv_atividades"   class="form-control" id="cv_atividades" placeholder="{{cv_atividades}}"  required>
                          <section class="invalid-feedback">

                          {{cv_atividades_required}}     
                        </section>
                        </section>

                        <section class="col-md-6 mb-3">
                          <label for="cv_parcerias">  {{cv_parcerias}} </label>
                          <input type="text" name="pn_cv_parcerias"   class="form-control" id="cv_parcerias" placeholder=" {{cv_parcerias}} "  required>
                          <section class="invalid-feedback">                        
                            {{cv_parcerias_required}}                         
                           </section>
                        </section>
  
                  <section class="col-md-6 mb-3">
                          <label for="cv_estrutura_de_custos">  {{cv_estrutura_de_custos}} </label>
                          <input type="text" name="pn_cv_estrutura_de_custos"   class="form-control" id="cv_estrutura_de_custos" placeholder=" {{cv_estrutura_de_custos}} "  required>
                          <section class="invalid-feedback">                        
                            {{cv_estrutura_de_custos_required}}                         
                           </section>
                        </section>

                        <input type="hidden" name="pn_grupo_id" value="{{grupo_id}}">



                      </section>


                      <button class="btn btn-primary" type="submit">{{btn_criar_proposta}}</button>
                    </form>
                  </section>
                </section>
              </section>        
            </section> 


            <section class="modal fade editar-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <section class="modal-dialog modal-lg">
                <section class="modal-content">
                  <section class="card-body">   
                    <form class="needs-validation" action="/MeusGrupos/meusgruposinfoupdate" enctype="multipart/form-data" method ="post">                                            
                      <h5 align="center">{{editar_h5}}</h5>
                      <hr>




                      <section class="form-row">
                      </h4>
                          <section class="col-md-6 mb-3">
                            <label for="validationCustom01">{{cv_proposta_valor}}</label>
                            <input type="text" name="pn_cv_proposta_valor" value="{{pn_cv_proposta_valor}}" class="form-control" id="validationCustom01" placeholder="{{cv_proposta_valor}}" required>
                            <section class="invalid-feedback">
                             {{cv_proposta_valor_required}} 
                           </section>  
                         </section>

                         <section class="col-md-6 mb-3">

                          <label for="cv_segmentacao">{{cv_segmentacao}} </label>
                          <input type="text" name="pn_cv_segmentacao" value="{{pn_cv_segmentacao}}"  class="form-control" id="cv_segmentacao" placeholder="{{cv_segmentacao}}" required>
                          <section class="invalid-feedback">
                            {{cv_segmentacao_required}} 
                          </section>  
                        </section>
                        <section class="col-md-6 mb-3">
                          <label for="cv_canais"> {{cv_canais}}</label>
                          <input type="text" name="pn_cv_canais" value="{{pn_cv_canais}}"   class="form-control" id="cv_canais" placeholder="{{cv_canais}}"  required>
                          <section class="invalid-feedback">
                          </section>
                          {{cv_canais_required}}
                        </section>


                        <section class="col-md-6 mb-3">
                          <label for="cv_relacionamento"> {{cv_relacionamento}}</label>
                          <input type="text" name="pn_cv_relacionamento" value="{{pn_cv_relacionamento}}"   class="form-control" id="cv_relacionamento" placeholder="{{cv_relacionamento}}"  required>
                          <section class="invalid-feedback">
                            {{cv_relacionamento_required}}
                          </section>
                        </section> 



                        <section class="col-md-6 mb-3">
                          <label for="cv_receitas">  {{cv_receitas}}  </label>
                          <input type="text" name="pn_cv_receitas"  value="{{pn_cv_receitas}}"  class="form-control" id="cv_receitas" placeholder="{{cv_receitas}}"  required>
                          <section class="invalid-feedback">

                          {{cv_receitas__required}}     
                        </section>
                        </section>

                      <section class="col-md-6 mb-3">
                          <label for="cv_recursos">  {{cv_recursos}}  </label>
                          <input type="text" name="pn_cv_recursos" value="{{pn_cv_recursos}}"   class="form-control" id="cv_recursos" placeholder="{{cv_recursos}}"  required>
                          <section class="invalid-feedback">

                          {{cv_recursos_required}}     
                        </section>
                        </section>
                      
                        <section class="col-md-6 mb-3">
                          <label for="cv_atividades">  {{cv_atividades}}  </label>
                          <input type="text" name="pn_cv_atividades" value="{{pn_cv_atividades}}"   class="form-control" id="cv_atividades" placeholder="{{cv_atividades}}"  required>
                          <section class="invalid-feedback">

                          {{cv_atividades_required}}     
                        </section>
                        </section>

                        <section class="col-md-6 mb-3">
                          <label for="cv_parcerias">  {{cv_parcerias}} </label>
                          <input type="text" name="pn_cv_parcerias" value="{{pn_cv_parcerias}}"   class="form-control" id="cv_parcerias" placeholder=" {{cv_parcerias}} "  required>
                          <section class="invalid-feedback">                        
                            {{cv_parcerias_required}}                         
                           </section>
                        </section>
  
                  <section class="col-md-6 mb-3">
                          <label for="cv_estrutura_de_custos">  {{cv_estrutura_de_custos}} </label>
                          <input type="text" name="pn_cv_estrutura_de_custos"  value="{{pn_cv_estrutura_de_custos}}" class="form-control" id="cv_estrutura_de_custos" placeholder=" {{cv_estrutura_de_custos}} "  required>
                          <section class="invalid-feedback">                        
                            {{cv_estrutura_de_custos_required}}                         
                           </section>
                        </section>


                <input type="hidden" name="pn_id" value="{{pn_id}}">
                <input type="hidden" name="pn_grupo_id" value="{{pn_grupo_id}}">


              </section>


              <button class="btn btn-primary" type="submit">{{btn_editar_proposta}}</button>
            </form>
          </section>
        </section>
      </section>        
    </section>



    <h4 class ="text-dark" align="center">  {{plano_text_h4}} </h4>
    <h5 class ="text-dark" align="center">  {{plano_text_h5}} </h5>

    <button  type="button" class="btn btn-info" data-toggle="modal" data-target=".info-lg">{{info}}</button>  
    <a  href="/meusgrupos/grupousuarios/{{grupo_id}}" class="btn btn-primary" style="display: inline;" >{{btn_usuarios}}</a>  
    <hr>



    <section class="card"> 
      <section class="card-body">

        <ul class="list-unstyled" class="mr-1">
          <li class="media my-4">

            <section class="media-body"> 


              {% if haplanoDeNegocios %}


              <h5>  {{cv_proposta_valor}}</h5>
              {{pn_cv_proposta_valor}}<hr>

              <h5>  {{cv_segmentacao}}</h5>
              {{pn_cv_segmentacao}}<hr>

              <h5>  {{cv_canais}}</h5>
              {{pn_cv_canais}}<hr>

              <h5>  {{cv_relacionamento}}</h5>
              {{pn_cv_relacionamento}}<hr>

              <h5>  {{cv_receitas}}</h5>
              {{pn_cv_receitas}}<hr>


              <h5>    {{cv_recursos}}</h5>
              {{pn_cv_recursos}}
              <hr> 


              <h5>    {{cv_atividades}}</h5>
              {{pn_cv_atividades}}
              <hr>


              <h5>   {{cv_parcerias}}</h5>
              {{pn_cv_parcerias}} <hr>



              <h5>     {{cv_estrutura_de_custos}} </h5>
              {{pn_cv_estrutura_de_custos}}<hr>








              <br>
              <section align="center" class="group-button">
               <button  type="button" class="btn btn-primary" data-toggle="modal" data-target=".editar-lg">{{editar_h5}}</button>                

             </section>
             {% else %}

             <section align="center" class="group-button">
               <button  type="button" class="btn btn-primary" data-toggle="modal" data-target=".proposta-lg">{{btn_criar_proposta}}</button>
             </section>
             {% endif %}


           </section>
         </li>
       </ul>

     </section>
   </section>
   <br>
  </section>
  </article>
  </section>
  </section> 

  </section>
  </main>

  {{ include('layout/nav-dashboard-end.html') }}
  {% if pais_id == 1 %}
  {{ include('layout/footer-pt.html') }}
  {% else %}
  {{ include('layout/footer-en.html') }}
  {% endif %}

  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../../assets/js/sb-admin-2.min.js"></script>
  </body>
  </html>
