<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Meus serviços">
  <meta name="keywords" content="serviços,meus serviços">
  <meta name="author" content="Onclickup">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> onclickup | meus serviços</title>
  <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="../../assets/css/layout/adddica.css">
  <link rel="stylesheet" href="../../assets/css/layout/layout.css">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<body id="page-top">
  <header>
    {% if empresa_session  %}
    {{ include('layout/nav-header-empresa.html') }}
    {% else %}
    {{ include('layout/nav-header-candidato.html') }}
    {% endif %}
  </header>
  <main>
    {% if empresa_session  %}
    {{ include('layout/nav-dashboard-empresa.html') }}
    {% else %}
    {{ include('layout/nav-dashboard-candidato.html') }}
    {% endif %}
    <section class="main-experi">
      <section class="row">
        <section class="col-xl-12 col-md-12 mb-4">
          <article class="card border-left-success shadow h-100 py-2">
            <section class="card-body">
              <a href="/addservico/create" class="btn btn-danger btn-sm">adicionar servico</a> <br>  <br>
              <!--    <span><strong> Você consegue ativa ou desativar um servico entrado nele e mudando a barrinha.</strong></span>  -->
              <hr class="m-1">
              {% if haServicos > 0 %}
              <h4 class ="text-dark" align="center"> Seus serviços publicados  </h4>
              {% for servico in meusServicos %}
              <section class="card"> 
                <section class="card-body">
                  <ul class="list-unstyled">
                    <li class="media my-4">
                     {% if sherepost.user_img %}
                     <img class="img-profile rounded-circle" width="55" src="../../../assets/user_img/{{sherepost.user_img}} " alt="ddddd">
                     {%  else %}
                     <img src="../../assets/img/outline-work_outline-24px.svg" class="mr-3" >
                     {%  endif %}
                     <section class="media-body"> 
                       <strong class="text-primary">Codigo do servico: </strong>  00{{servico.serv_id}}<br>
                       <h4 class="mt-0 mb-1 text-primary">{{servico.post_titulo}}</h4>
                       <h5 class="mt-0 mb-1 text-primary">{{servico.post_subtitulo}}</h5>                                
                       <strong>Descrição: </strong> {{servico.post_description}} 
                       <hr class="m-1">
                       <strong>Valor (R$): </strong> {{servico.serv_valor}}.00 <br>
                       <i>  <img width="25" src="../../assets/img/categoria-24px.svg" class="mt-1" > </i>   <strong>   {{servico.cat_nome}} </strong><br>
                       <i>  <img width="25" src="../../assets/img/localizacao24px.svg" class="mr-0 mt-1" > </i>  {{servico.ender_cidade}},  {{servico.est_nome}}
                       <br>
                       <hr class="m-1">
                       <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i>    <strong>Prestador: </strong><a href="/candidatoperfil/show">{{servico. user_nome}}</a> <br>
                       <section align="center" class="group-button">
                          <a href="\verservico\destroy\{{servico.post_id}}" class="btn btn-danger btn-sm">excluir</a>
                          <a href="\verservico\show\{{servico.serv_id}}" class="btn btn-primary btn-sm">ver servico</a>
                      </section>
                    </section>
                  </li>
                </ul>
              </section>
            </section>
            <br>
            {% endfor %}
            {% else %}
            <h6 class ="alert alert-danger"> Adicione  serviço a nossa plataforma:   </h6>
            {% endif %}
          </section>
        </article>
      </section>
    </section>
  </section>
 <!--    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"> << </a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">>></a></li>
      </ul>
    </nav>
 -->
</main>
{{ include('layout/nav-dashboard-end.html') }}
{{ include('layout/footer.html') }}

<script src="../../assets/vendor/chart.js/Chart.min.js"></script>
<script src="../../assets/js/demo/chart-area-demo.js"></script>
<script src="../../assets/js/demo/chart-pie-demo.js"></script>
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>