  <html lang="pt"><head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
    <!-- Compiled and minified materialize CSS -->
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../assets/css/layout/adddica.css">
    <link rel="stylesheet" href="../../assets/css/layout/layout.css">
    <link rel="stylesheet" href="../../assets/css/layout/footer.css">
    <!-- Custom fonts for this template-->
    <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <header>
        {{ include('layout/nav-header-empresa.html') }}
    </header>
    {{ include('layout/nav-dashboard-empresa.html') }}

    <main>


        <section class="main-experi"> 

                 <section class="row">

                    <section class="col-md-12 ">
                        <h5 class="text-dark" align="center"> Veja o que os usuarios que você segue <span class="text-success">Compartilham</span> </h5>

                        {% if haGetmySherepoint %}
                        {% for sherepoint in getmySherepoint %}
                        <section class="card" class="m-3">
                            <section class="card-header">

                                <section class="d-flex justify-content-between align-items-center mb-0">
                                    <section class="d-flex justify-content-between align-items-center  ">


                                        <section class="mr-2 mb-0">
                                         {% if sherepoint.tipopost_id == 5 %}
                                         <img class="img-profile rounded-circle" width="55" src="../../../assets/Logotipo/iconelogo.svg" alt="ddddd">

                                         {%  else %}
                                         {% if sherepoint.user_img %}
                                         <img class="img-profile rounded-circle" width="55" src="../../../assets/user_img/{{sherepoint.user_img}} " alt="ddddd">

                                         {%  else %}
                                         <img class="img-profile rounded-circle" width="55" src="../../../assets/img/padraoperfil.svg" alt="ddddd">

                                         {% endif %}
                                         {% endif %}

                                     </section>
                                     <section class="ml-2">

                                        <section class="m-0">{{sherepoint.user_nome}}</section>
                                    </section>
                                </section>
                            </section>

                        </section>

                        {% if sherepoint.shere_text %}
                          <section class="card p-1 m-2">
{{sherepoint.shere_text}}
                          </section>  

                          {% endif %}
                        <section class="card-body">
                       
                           {% if sherepoint.tipopost_id == 1 or  sherepoint.tipopost_id == 3 %}
                           <strong>  compartilhou uma <span class="text-primary">{{sherepoint.tipopost}}</span></strong>
                           {% else %}
                           <strong>  compartilhou um <span class="text-primary">{{sherepoint.tipopost}}</span></strong>
                           {% endif %}
                           <hr class="m-0">
 
                           <ul class="list-unstyled">
                            <li class="media my-4">


                               {% if sherepoint.tipopost_id == 1 %}
                               <img src="../../assets/img/outline-ballot-24px.svg" class="mr-3" >
                               {% elseif sherepoint.tipopost_id == 2 %}
                               <img src="../../assets/img/outline-work_outline-24px.svg" class="mr-3" >
                               {% elseif sherepoint.tipopost_id == 3 %}
                               <img src="../../assets/img/dica24px.svg" class="mr-3" >
                               {% elseif sherepoint.tipopost_id == 4 %}
                               <img src="../../assets/img/concurso24px.svg" class="mr-3" >
                               {% elseif sherepoint.tipopost_id == 5 %}
                               <img src="../../assets/img/library_books-24px.svg" class="mr-3" >

                               {% endif %}


                               <section class="media-body"> 

                                   <h4 class="mt-0 mb-1 text-primary">{{sherepoint.post_titulo}}</h4>
                                   <h5 class="mt-0 mb-1 text-primary">{{sherepoint.post_subtitulo}}</h5>                                
                                   <strong>Descrição: </strong> {{sherepoint.post_description}}
                                   <hr class="m-1">

                                   <strong class="text-success">         
                                       <i>  <img width="25" src="../../assets/img/categoria-24px.svg" class="mt-1" > </i> {{sherepoint.cat_nome}} </strong>
                                       <br>
                                       {% if sherepoint.ender_cidade %}
                                       <i>  <img width="25" src="../../assets/img/localizacao24px.svg" class="mr-0 mt-1" > </i> 
                                       {{sherepoint.ender_cidade}}, 
                                       {{sherepoint.est_nome}}
                                       {% endif %}
                                       <hr class="m-1">  

                                       {% if sherepoint.tipopost_id == 5 %}
                                       <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i>  Autor: <a href="/usuario/perfil/{{sherepoint.user_id}}">Onclickup</a> <br>

                                       {% elseif  sherepoint.tipopost_id == 3 %}
                                       <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i>  Autor: <a href="/usuario/perfil/{{sherepoint.user_id}}">{{sherepoint.user_nome}}</a> <br>

                                       {% elseif  sherepoint.tipopost_id == 1 %}
                                       <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i>  Empresa/Responsavel:<a href="/usuario/perfil/{{sherepoint.user_id}}">{{sherepoint.user_nome}}</a> <br>

                                       {% else %}
                                       <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i>  Prestador: <a href="/usuario/perfil/{{sherepoint.user_id}}">{{sherepoint.user_nome}}</a> <br>

                                       {% endif %}

                                   </section>


                               </li>


                           </ul>

                       </section>

                       <section class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <section class="modal-dialog" role="document">
                            <form action="/sherepoint/shered" method="post">

                                <section class="modal-content">
                                  <section class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Compartlhe para seus seguidores</h5><br>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>

                              </section>
                              <section class="modal-body">
                                <h6 class="modal-title" id="exampleModalLabel">Digite um comentario</h6><br>

                                <textarea type="text" name="shere_text" class="form-control">
                                </textarea>

                                <input type="hidden" name="shere_post_id" value="{{sherepoint.post_id}}">
                                <input type="hidden" name="shere_user_id" value="{{sessionUsuario_id}}">
                                <input type="hidden" name="shere_autor_user_id" value="{{sherepoint.user_id}}">
                                <input type="hidden" name="shere_autor_nome" value="{{sherepoint.user_nome}}">
                                <input type="hidden" name="shere_user_nome" value="{{user_nome}}">
                                {% if sherepoint.user_img  %}

                                <input type="hidden" name="shere_user_img" value="{{sherepoint.user_img}}">
                                {% endif %}

                                <input type="hidden" name="shere_ti_post" value="{{sherepoint.tipopost_id}}">

                                <ul class="list-unstyled">
                                    <li class="media my-4">


                                       {% if sherepoint.tipopost_id == 1 %}
                                       <img src="../../assets/img/outline-ballot-24px.svg" class="mr-3" >
                                       {% elseif sherepoint.tipopost_id == 2 %}
                                       <img src="../../assets/img/outline-work_outline-24px.svg" class="mr-3" >
                                       {% elseif sherepoint.tipopost_id == 3 %}
                                       <img src="../../assets/img/dica24px.svg" class="mr-3" >
                                       {% elseif sherepoint.tipopost_id == 4 %}
                                       <img src="../../assets/img/concurso24px.svg" class="mr-3" >
                                       {% elseif sherepoint.tipopost_id == 5 %}
                                       <img src="../../assets/img/library_books-24px.svg" class="mr-3" >

                                       {% endif %}


                                       <section class="media-body"> 
                                           <h4 class="mt-0 mb-1 text-primary">{{sherepoint.post_titulo}}</h4>
                                           <h5 class="mt-0 mb-1 text-primary">{{sherepoint.post_subtitulo}}</h5>                                
                                           <strong>Descrição: </strong> {{sherepoint.post_description}}
                                           <hr class="m-1">

                                           <strong class="text-success">         
                                               <i>  <img width="25" src="../../assets/img/categoria-24px.svg" class="mt-1" > </i> {{sherepoint.cat_nome}} </strong>
                                               <br>
                                               {% if sherepoint.ender_cidade %}
                                               <i>  <img width="25" src="../../assets/img/localizacao24px.svg" class="mr-0 mt-1" > </i> 
                                               {{sherepoint.ender_cidade}}, 
                                               {{sherepoint.est_nome}}
                                               {% endif %}
                                               <hr class="m-1">  

                                               {% if sherepoint.tipopost_id == 5 %}
                                               <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i>  Autor: <a href="/usuario/perfil/{{sherepoint.user_id}}">Onclickup</a> <br>

                                               {% elseif  sherepoint.tipopost_id == 3 %}
                                               <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i>  Autor: <a href="/usuario/perfil/{{sherepoint.user_id}}">{{sherepoint.user_nome}}</a> <br>

                                               {% elseif  sherepoint.tipopost_id == 1 %}
                                               <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i>  Empresa/Responsavel:<a href="/usuario/perfil/{{sherepoint.user_id}}">{{sherepoint.user_nome}}</a> <br>

                                               {% else %}
                                               <i>  <img width="25" src="../../assets/img/prestador-24px.svg" class="mr-0 mt-1" > </i>  Prestador: <a href="/usuario/perfil/{{sherepoint.user_id}}">{{sherepoint.user_nome}}</a> <br>

                                               {% endif %}
                                           </section>
                                       </li>
                                   </ul>


                               </section>
                               <section class="modal-footer">
                                <button class="btn-2 btn-primary btn-sm"><span class="text-white">atualizar</span>  </button>

                            </section>
                        </form>                  
                        </section>
                        </section>
            </section>


            <section class="card-footer">


                <!-- VAGA -->
               
              {%  if sherepoint.user_id == sessionUsuario_id %}
                <a href="mysherepoint/destroy/sherepoint.shere_id" class="btn btn-danger btn-sm">excluir</a>
                <button type="button" class="btn-2 btn-success btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><span class="text-white">editar</span>  </button>
            {% endif %}
            </section>

        </section>  
        <br>
        {% endfor %}
        {% else %}
        <h6 class ="alert alert-danger"> não ha publicações   </h6>
        {% endif %}
    </section>
</section>  

</section>
</section>


</section>
</section>

</main>
{{ include('layout/nav-dashboard-end.html') }}
{{ include('layout/footer.html') }}
<!-- Bootstrap core JavaScript-->
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../assets/js/sb-admin-2.min.js"></script>

</body>

</html>