    <!DOCTYPE html>
<html lang="{{html_lang}}">
<head>
  <meta charset="{{meta_charse}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
    <link rel="icon" type="imagem/png" href="/imagens/meufavicon.png" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
	<link rel="stylesheet" href="../../assets/css/layout/layout.css">
	<link rel="stylesheet" href="../../assets/css/layout/footer.css">
	<link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <title>{{title}}</title>
	<link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
</head>
<body id="page-top">
	<header>
		{% if pais_id == 1 %}
		{{ include('layout/nav-header-portugues.html') }}
		{% else %}
		{{ include('layout/nav-header-ingles.html') }}
		{% endif %}

	</header>
	<main>
		{% if pais_id == 1 %}
		{{ include('layout/nav-dashboard-portugues.html') }}
		{% else %}
		{{ include('layout/nav-dashboard-ingles.html') }}
		{% endif %}
		<section class="main-experi" >
			<hr class="m-1">  
			<section class="row">
				<section class="col-xl-12 col-md-12 mb-4">



					<article class="card border-left-success shadow h-100 py-2">
						<section class="card-body">

							<h4 class ="text-dark" align="center">  {{h4_Perfil}}  </h4>
						</h5>



						{% for perfil in getusuarioPerfil %}
						<section class="modal fade editarusuario-senha-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<section class="modal-dialog modal-lg">
								<section class="modal-content">
									<section class="card-body">   

										<form  enctype="multipart/form-data"  class="needs-validation" action="/perfil/storesenha" method ="post">
											<section class="form-row">


											</section>
											<section class="form-row">

												<input type="hidden" name="us_foto_old" value="{{perfil.us_foto}}">
												<input type="hidden" name="us_email" value="{{perfil.us_email}}">
												<section class="col-md-12 mb-3">
													<label for="validationCustom03">{{senha_old}}</label>
													<input type="password" value="" class="form-control" name="senha_old" id="validationCustom03" placeholder="{{senha_old}}">
													<section class="invalid-feedback"> 
														{{required_senha}}
													</section>
												</section>
												<section class="col-md-12 mb-3">
													<label for="validationCustom003">{{login_senha}}</label>
													<input type="password" class="form-control" name="us_senha" id="validationCustom003" placeholder="{{login_senha}}">
													<section class="invalid-feedback"> 
														{{required_senha}}
													</section>
												</section>

											</section>

											<button class="btn btn-primary" type="submit">{{button_inscrever}}</button>
										</form>



									</section>
								</section>
							</section>
						</section>


						

							<section class="modal fade editarusuario-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							<section class="modal-dialog modal-lg">
								<section class="modal-content">
									<section class="card-body">   
										
										<form  enctype="multipart/form-data"  class="needs-validation" action="/perfil/store" method ="post">
											<section class="form-row">
												
												<section class="col-md-12 mb-3">
													<label for="validationCustomUsname">{{login_nome_usuario}}</label>
													<section class="input-group">
														<input type="text" name="us_nome" value="{{perfil.us_nome}}" class="form-control" id="validationCustomUsername" 
														placeholder="{{login_nome_usuario}}" aria-describedby="inputGroupPrepend" required>
														<section class="invalid-feedback">
															{{requered_nome}} 
														</section>
													</section>
												</section>
											</section>
											<section class="form-row">
												
												<input type="hidden" name="us_foto_old" value="{{perfil.us_foto}}">
												<input type="hidden" name="us_email" value="{{perfil.us_email}}">
											

												<section class="col-md-12 mb-3">
													<label for="validationCustom04">{{email_foto}}</label>
													<input type="file" name="us_foto" class="form-control" id="us_foto">
													<section class="invalid-feedback">
														{{required_foto}} 
													</section>  
												</section>
												
												<!-- <section class="col-md-12 mb-3" >
													<label for="validationCustom04">{{login_tipo_user}}</label>

													<select name="us_tipo_pessoa" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
														<option value="1">{{pf}}</option>
														<option value="2">{{pj}}</option>
													</select>
												</section> -->
											</section>

											<button class="btn btn-primary" type="submit">{{button_inscrever}}</button>
										</form>



									</section>
								</section>
							</section>
						</section>
						<section class="card"> 
							{{  messagem('login_frash') | raw }}
							{{  messagem('login_aceito') | raw }}

							<section class="card-body">

								<ul class="list-unstyled" class="mr-1">
									<li class="media my-4">
										<figure>
											<img src="../../assets/user_images/{{perfil.us_foto}}" width="80" height="80" class="mr-1" >
										</figure>
										<section class="media-body"> 
											<h4 class="mt-0 mb-1"> {{perfil.us_nome}}</h4>
											<h5 class="mt-0 mb-1 text-primary">{{perfil.us_email}}</h5>



											<button class="btn btn-success" role="button" data-toggle="modal" data-target=".editarusuario-lg"type="submit">{{btn_senha}}</button>	
											<button class="btn btn-info" role="button" data-toggle="modal" data-target=".editarusuario-senha-lg"type="submit">{{btn_senha_editar}}</button>




										</a> 
									</section>
								</li>
							</ul>
							{% endfor %}





						</section>

					</section>

					<br>




				</section>
			</article>
		</section>
	</section> 

</section>
</main>

{{ include('layout/nav-dashboard-end.html') }}
   {% if pais_id == 1 %}
        {{ include('layout/footer-pt.html') }}
 {% else %}
  {{ include('layout/footer-en.html') }}
 {% endif %}

<script src="../../assets/vendor/chart.js/Chart.min.js"></script>
<script src="../../assets/js/demo/chart-area-demo.js"></script>
<script src="../../assets/js/demo/chart-pie-demo.js"></script>
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>
