    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
    	<meta charset="UTF-8">
    	<meta name="description" content="pessoa fisica">
    	<meta name="keywords" content="pessoa fisica">
    	<meta name="author" content="John Doe">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<title> onclickup | pessoa fisica </title>

    	<!-- Compiled and minified materialize CSS -->
    	<link rel="stylesheet" href="../../../assets/css/bootstrap/bootstrap-reboot.css">
    	<link rel="stylesheet" href="../../../assets/css/bootstrap/bootstrap.min.css">
    	<link rel="stylesheet" href="../../../assets/css/layout/perfil.css">
    	<link rel="stylesheet" href="../../../assets/css/layout/layout.css">
    	<link rel="stylesheet" href="../../../assets/css/layout/footer.css">
    	
    	<link href="../../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    	<link href="../../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
    	
    </head>

    <body id="page-top">
    	<header>
    		{% if empresa_session  %}
    		{{ include('layout/nav-header-empresa.html') }}
    		{% else %}
    		{{ include('layout/nav-header-candidato.html') }}
    		{% endif %}
    		
    	</header>
    	<main >
    		{% if empresa_session  %}
    		{{ include('layout/nav-dashboard-empresa.html') }}
    		{% else %}
    		{{ include('layout/nav-dashboard-candidato.html') }}
    		{% endif %}
    		

    		
    		<section class="card" >
    			<br>
    			<span class="text-center" style="display: none">	
    				{% if seguindo <= 0  %}
    				({{seguidores}}) seguidores | (0) seguindo  
    				{% else %}
    				({{seguidores}}) seguidores | ({{seguindo}}) seguindo  
    				{% endif %}
    			</span>
    			<br>

    			<section class="col-md-12">

    				<section align="center">
    					
    					{% if cand_img  %}
    					
    					<img class="img-thumbnail" src="/lll/lll" alt="" >


    					{% else %}
    					<img class="img-thumbnail " src="../../../assets/img/padraoperfil.svg" alt="foto_perfil">
    					{% endif %}
    				</section>
    				
    				<h4 class="card-title" align="center">{{candNome_user}}</h4>
    				<ul class="list-inline" id="courses">								 								

    					<center  style="display: none">	
    						{% if checkSeguidores  %}

    						<a href="\usuario\deixarDeSeguir\{{user_id}}" class="btn btn-danger btn-sm text-center">deixar de seguir</a>
    						{% else %}
    						<a href="\usuario\seguir\{{user_id}}" class="btn btn-success btn-sm text-center">seguir</a> 
    						{% endif %}

    					</center>

    				</ul>
    				<nav align="center"  class="mt-4" >  
    					
    					<a href="/empresasherepoint/create">
    						<img src="../../assets/img/share-24px.svg" sherePoint >
    						<span class="text-black">sherePoint</span>
    					</a>
    					

    				</nav>
    				

    				<section class="address">								
    					<ul class="w3-ul w3-small">
    						<li> <i class="fa fa-calendar-o" aria-hidden="true"></i> Superior cursando.A FAZER</li>
    						<li><i class="fa fa-calendar-o" aria-hidden="true"></i> Faculdade das americasA FAZER </li>
    						<li><i class="fa fa-calendar-o" aria-hidden="true"></i> {{cand_email}} </li>
    						<li><i class="fa fa-calendar-o" aria-hidden="true"></i> Solteiro  A FAZER</li>
    						<li><i class="fa fa-calendar-o" aria-hidden="true"></i>  {{cand_dataDenasci}} </li>
    						<li><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ender_cidade}}, {{est_nome}} </li>
    					</ul>
    				</address>
    			</section>
    			<hr> 
    			
    			<nav class="nav d-flex justify-content-between">  
    				
    				<li>	<a class="alert text-dark"><strong> Competencias</strong> </a></li>
    				<li>	

    				</li>
    			</nav>

    			{% if haGetMinhasCompetencias %}
    			<nav class="nav d-flex justify-content-between">  
    				{% for getMinhasCompetencias in getMinhasCompetencias %}

    				<a class="p-2 text-success"> {{getMinhasCompetencias.comp_nome}}</a>
    				
    				{% endfor %}
    			</nav>
    			{% else %}

    			<p  class="text-center">Não	Há competencias</p>
    			{% endif %}

    			<hr>
    			<nav class="nav d-flex justify-content-between">  
    				<li>	<a class="p-2 text-dark ">  <strong>Servicos e produtos prestados:	</strong></a></li>
    				<li>			<a href="\meusservicos\create" class="btn btn-primary btn-sm "> mais servicos</a></li>
    			</nav>
    			{% if haGetMeusServicosLimit %} <br>	
    			{% for getservicosLimit in getMeusServicosLimit %}
    			<nav class="nav d-flex justify-content-between">  
    				<a class="p-2 text-success"> {{getservicosLimit.post_titulo}}</a>
    			</nav>
    			{% endfor %}

    			{% else %}

    			<p class="text-center" >Não Há servicos</p>


    			{% endif %}
</section>
    			<hr>

    			
    			<nav class="nav d-flex justify-content-between">  
    				
    				<li class="text-dark">	 <strong> Ultimas experiencias </strong></li>
    				
    			</nav>


    			{% if fic_id >=1 %}
    			
    			<section class="alert text-dark"> 
    				Experiencias: {{ countFic_id }}/3

    			</section>					
    			<ul class="w3-ul w3-small">
    				{% for ficha in fichaCandidato %}
    				<li><a href="/candidatoverexperiencias/show/{{ficha.fic_id}}" class="text-primary">  {{ficha.fic_empresa}}</a> <span>{{ficha.fic_dataentrada |date("d/m/yy")}}</span></li>
    				{% endfor %}
    			</ul>
    			{% else %}
    			
    			
    			<p class="text-center"> Não	Há experiencias</p>
    			

    			
    			{% endif %}
    			<hr>
    			
    			
    			<p class="lower-case ">  pode ser entcontrado em </p>
    			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123405.88854614287!2d120.60617944332368!3d14.856990020414184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33965af30887de57%3A0x1aa8d246509d51e5!2sMacabebe%2C+Pampanga!5e0!3m2!1sen!2sph!4v1514036434857" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    			
    			<hr>
    			
    			<a class="twitter-timeline" href="https://twitter.com/Jhean_Yhu" data-widget-id="731156277431140352"></a>
    			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    			
    			
    			<br>
    			
    			

    			

    		</main>

    		{{ include('layout/nav-dashboard-end.html') }}
    		{{ include('layout/footer.html') }}



    		
    		
    		<!-- Bootstrap core JavaScript-->
    		<script src="../../../assets/vendor/jquery/jquery.min.js"></script>
    		<script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    		<!-- Core plugin JavaScript-->
    		<script src="../../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    		<!-- Custom scripts for all pages-->
    		<script src="../../../assets/js/sb-admin-2.min.js"></script>

    	</body>

    	</html>
