    <!DOCTYPE html>
    <html lang="{{html_lang}}">
    <head>
      <meta charset="{{meta_charse}}">
      <meta name="description" content="{{description}}">
      <meta name="keywords" content="{{keywords}}">
      <meta name="author" content="{{author}}">
      <link rel="icon" type="imagem/png" href="/imagens/meufavicon.png" />

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap-reboot.css">
      <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="../assets/css/layout/adddica.css">
      <link rel="stylesheet" href="../assets/css/layout/layout.css">
      <link rel="stylesheet" href="../assets/css/layout/footer.css">
      <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <title>{{title}}</title>

      <link href="../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">

    </head>
    <body id="page-top">

      <header>
        {% if pais_id %}

        {{ include('layout/nav-header-portugues.html') }}
        {% else %}
        {{ include('layout/nav-header-ingles.html') }}
        {% endif %}


      </header>
      <main>
       {% if pais_id %}
       {{ include('layout/nav-dashboard-portugues.html') }}
       {% else %}
       {{ include('layout/nav-dashboard-ingles.html') }}
       {% endif %}
       <div id="content">




        <div class="container-fluid">

          <h1 class="h3 mb-2 text-gray-800">{{h1_empreendedores}}</h1>
          <p class="mb-4"><a target="_blank" href="https://www.chartjs.org/docs/latest/"></a>{{p_perfil}}</p>

          <div class="row">

            <div class="col-xl-8 col-lg-7">


              <!-- Bar Chart -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">{{card_myBarChart_h6}}</h6>
                  <p>

                    {{card_myBarChart_text_p}}

                  </p>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                  </div>
                  <hr>
                  <p>
                    {{card_myBarChart_text_P_2}}

                  </p>
                </div>
              </div>

            </div>

            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">{{chart_pie_1_h6}}</h6>
                </div>
                <div class="card-body">
                 {{chart_pie_1_card_body}}
                 <div class="chart-pie pt-6">
                  {% if pais_id == 1 %}
                  <canvas id="myPieChart1BR"></canvas>
                  {% else %}

                  <canvas id="myPieChart1USA"></canvas>
                                    {% endif %}

                </div>
                <hr>
              </div>
            </div>         

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{{ include('layout/nav-dashboard-end.html') }}
   {% if pais_id == 1 %}
        {{ include('layout/footer-pt.html') }}
 {% else %}
  {{ include('layout/footer-en.html') }}
 {% endif %}

<script src="../assets/vendor/chart.js/Chart.min.js"></script>
<script src="../assets/js/demo/chart-area-demo.js"></script>
<script src="../assets/js/demo/chart-pie-demo.js"></script>
<script src="../assets/js/demo/chart-bar-demo.js"></script>
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../assets/js/sb-admin-2.min.js"></script>
</body>
</html>

