  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Adiciona duvidas">
    <meta name="keywords" content="Adiciona duvidas">
    <meta name="author" content="Adiciona duvidas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> starstup´s arcade | Termos</title>
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="../assets/css/layout/adddica.css">
    <link rel="stylesheet" href="../assets/css/layout/layout.css">
    <link rel="stylesheet" href="../assets/css/layout/footer.css">
    <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="../../../assets/Logotipo/faviconstartuparcade.svg" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <header>
      {% if pais_id %}
      {{ include('layout/nav-header-portugues.html') }}
      {% else %}
      {{ include('layout/nav-header-ingles.html') }}
      {% endif %}

    </header>
    <main>
      {% if pais_id %}
      {{ include('layout/nav-dashboard-portugues.html') }}
      {% else %}
      {{ include('layout/nav-dashboard-ingles.html') }}
      {% endif %}
      <section class="main-experi">


       <section class="blog-post">
        {% for post in postBlog %}  

        <h2 class="blog-post-title">{{post.post_titulo}}</h2>
        <p class="blog-post-meta">Data post: {{post.blog_date}} </p>
        <hr>
        <h5>{{post.post_subtitulo}}</h5>

        <p>{{post.post_description}} <br></p>
        <p>{{post.blog_text}} <br></p>
        <hr>
        {% endfor %}


      </section>
    </section>

  </main>

  {{ include('layout/nav-dashboard-end.html') }}
  {{ include('layout/footer-pt.html') }}







  <script src="../../assets/vendor/chart.js/Chart.min.js"></script>
  <script src="../../assets/js/demo/chart-area-demo.js"></script>
  <script src="../../assets/js/demo/chart-pie-demo.js"></script>
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../../assets/js/sb-admin-2.min.js"></script>

</body>

</html>