        <!DOCTYPE html>
        <html lang="pt-br">
        <head>
            <title> Onclickup | status de serviços</title>
            <meta charset="UTF-8">
            <meta name="description" content="status de serviços ou pedido">
            <meta name="keywords" content="status de serviços">
            <meta name="onclikcup" content="status de serviços">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
            <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.min.css">
            <link rel="stylesheet" href="../../assets/css/layout/perfil.css">
            <link rel="stylesheet" href="../../assets/css/layout/layout.css">
            <link rel="stylesheet" href="../../assets/css/layout/pedidos.css">
            <link rel="stylesheet" href="../../assets/css/layout/footer.css">
            <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">
        </head>
        <body>
        <header>
            {% if empresa_session  %}
            {{ include('layout/nav-header-empresa.html') }}
            {% else %}
            {{ include('layout/nav-header-candidato.html') }}
            {% endif %}
        </header>
        <main>
            {% if empresa_session  %}
            {{ include('layout/nav-dashboard-empresa.html') }}
            {% else %}
            {{ include('layout/nav-dashboard-candidato.html') }}
            {% endif %}
            <h2 align="center" class="font-weight-bold"> Atualização do status do serviço aceito.</h2>
            {% if hadetalhePedidos  %}
            {% for pedidos in getPedidosDetalhes %}
            <article class="card">
                <section class="card-body border-left-primary">
                    <section class="container"> 
                        <strong class="font-weight-bold"> Codigo pedido :</strong> 00{{pedidos.pedi_id}}</br>
                        <h2> <span class="font-weight-bold text-dark"> {{pedidos.post_titulo}}</span> </h2>
                        <h5> <span class="font-weight-bold text-dark"> {{pedidos.post_subtitulo}}</span> </h5>
                        <h6 class="m-0 font-weight-bold  text-dark">Status: <span class="font-weight-bold text-success" >{{pedidos.statuspedi_nome}}</span> </h6>  
                          <h6 class="m-0 font-weight-bold text-dark">Progresso de : <span class="font-weight-bold text-success" >{{pedidos.statusnumber}}</span> </h6>
                            <br> <hr>
                            <form action="/pedidos/updatestatustore" method="POST">
                                <section class="form-group">
                                    <input type="hidden" value="{{pedidos.pedi_id}}" name="pedi_id">
                                    <label for="statusnumber_id">Status progresso porcentagem</label>
                                    <select class="form-control" name="status_number_id" id="statusnumber_id">
                                       <option >{{pedidos.statusnumber}} (SELECIONADO)</option>
                                       {% for progress in getStatusprogress %}
                                       <option  value="{{ progress.statusnumber_id}}">{{ progress.statusnumber|e }}</option>
                                       {% endfor %}
                                   </select>
                               </section>
                               <section class="form-group">    
                                <label for="statuspedi_nome text-dark">Status </label>
                                <select class="form-control" name="statuspe_id" id="statuspe_nome">
                                    <option >{{ pedidos.statuspedi_nome|e }} (SELECIONADO)</option>
                                    {% for getStatuspedido in getStatuspedido %}
                                    <option  value="{{ getStatuspedido.statuspedi_id}}">
                                    {{ getStatuspedido.statuspedi_nome|e }}</option>
                                    {% endfor %}
                                </select>
                            </section>
                        </section>
                        <section class="card-body">
                            <button  class="btn btn-primary btn-sm">Atualizar startus serviço</button>
                        </section>
                    </form>
                </section> 
            </section> 
        </article>
        <br>
        {% endfor %}
        {% else %}
        <article class="card">
            <section class="card-body border-left-primary">
                <section class="container"> 
                    <h5 class ="alert alert-danger"> Não há Pedidos feitos </h5>
                    <a  class="btn btn-primary btn-sm"  href="/exploreservicos/create"> Explore novos servicos</a>
                </section> 
            </section> 
        </article>
        {% endif %}
    </main>
    {{ include('layout/nav-dashboard-end.html') }}
    {{ include('layout/footer.html') }}
    <script src="../../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../../assets/js/sb-admin-2.min.js"></script>
</body>
</html>
