body {
	min-width: 340px;
	max-height: 1400px;
}

/*
a {
	margin-top: 5px;
}
*/

#midia{
	width: 64px;
	height: 64px;
	margin-right: 5px;
}

.main-experi {
		margin-left: 20%;
		margin-right: 20%;
}

@media (max-width: 500px) {

	
	.main-experi {
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left:0%;
	margin-right: 0%;
	


}