

.img-perfil {
	width: 25px;
	height: 25px;
}


main {
	margin-left: 1px;
	margin-right: 1px;
}
.card {
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
}




.card-body-perfil {
    
	margin-right: 35%: 
	margin-left: 35%;
}

#card-tab-perfil {
	padding: 10px;

}

@media (max-width: 450px) {

	
	.card {
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left:0%;
	margin-right: 0%;
	


}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dddfeb;
    border-radius: 0.35rem;
    max-width: 70%;
    height: auto;
}


}


.container, .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}






.border border-primary{
	padding: 5px;
}

