    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="description" content="Free Web tutorials">
      <meta name="keywords" content="HTML,CSS,XML,JavaScript">
      <meta name="author" content="John Doe">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="imagem/png" href="/imagens/meufavicon.png" />

      <!-- Compiled and minified materialize CSS -->
      <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
      <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="../../assets/css/layout/perfil.css">
      <link rel="stylesheet" href="../../assets/css/layout/layout.css">
      <link rel="stylesheet" href="../../assets/css/layout/pedidos.css">
      <link rel="stylesheet" href="../../assets/css/layout/footer.css">
      <!-- Custom fonts for this template-->
      <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template-->
      <link href="../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">

    </head>


    <body id="page-top">

    <header>
      {{ include('layout/nav-header-admin.html') }}
    </header>




      <main>
    {{ include('layout/nav-dashboard-admin.html') }}
        <div class="container">
             <div class="table-responsive">
              <table class="table">
                <h2>Tabela de pedidos feitos </h2>
                <h5>Veja pedidos em andamento status  e pendencias</h5>
                 <thead class="thead-dark">
                    <tr>
                      <th>pedi_id</th>
                      <th>data registro</th>
                      <th>valor total</th>
                      <th>status pedido</th>
                      <th> status porcentagem</th>
                      <th>servico id </th>
                      <th>status pagamento </th>
                      <th></th>
                      <th></th>
                  </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdomdo</td>
                        <td><a href="" class=" btn btn-primary"> ver</a></td>
                        <td><a href="" class=" btn btn-danger"> editaar</a></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

          
                  
          
      
      </main>
      {{ include('layout/nav-dashboard-end.html') }}
    {{ include('layout/footer-pt.html') }}
      <!-- Bootstrap core JavaScript-->
      <script src="../assets/vendor/jquery/jquery.min.js"></script>
      <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Custom scripts for all pages-->
      <script src="../assets/js/sb-admin-2.min.js"></script>

    </body>

    </html>
