

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Startup arcade</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <link rel="icon" type="image/x-icon" href="../../../assets/Logotipo/faviconstartuparcade.svg" />

  <link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../../assets/index/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">



</head>
<body>
  <header id="header" class="fixed-top">
    <section class="container d-flex">
      <section class="logo mr-auto">
        <figure>
          <a href="/">
            <img src="../assets/Logotipo/logo-index.svg"  alt="startups arcade " class="width=device-width" width="180vm"></a>
          </figure>
        </section>
        <nav class="nav-menu d-none d-lg-block">
          <ul>

          </ul>
        </nav>

        <section class="header-social-links">
          <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
          <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
        </section>

      </section>
    </section>
  </header>
</section>
</section>
<main id="main">


     <section class="container" >
      <br><br><br>
      <h4>Efetue o login| admin</h4>
      <hr>
      <br> <hr> 
      {{  messagem('login') | raw }}
   <section class="card  box-shadow h-md-300" >
                  <section class="card-body align-items-start">  
      <form action="/adminlogin/store" method="post" >
       <section class="form-group">
        <label for="exampleInputEmail1">Endereço de email </label>
        <input type="email" name="adm_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email ou user name">

      </section>
      <section class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" name="adm_senha" class="form-control" id="exampleInputPassword1" placeholder="Senha">
      </section>
      <button type="submit" class="btn btn-primary">Entrar</button><br>

    </form>
</section>
</section>
  </section>





<hr>

</main>

{{ include('layout/footer-pt.html') }}


<script src="../../../assets/index/js/main.js"></script>

</body>

</html>