    <!DOCTYPE html>
<html lang="pt">

    <head>
      <meta charset="UTF-8">
      <meta name="description" content="Free Web tutorials">
      <meta name="keywords" content="HTML,CSS,XML,JavaScript">
      <meta name="author" content="John Doe">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="imagem/png" href="/imagens/meufavicon.png" />


      <!-- Compiled and minified materialize CSS -->
      <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap-reboot.css">
      <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="../../assets/css/layout/blog.css">
      <link rel="stylesheet" href="../../assets/css/layout/layout.css">
      <link rel="stylesheet" href="../../assets/css/layout/pedidos.css">
      <link rel="stylesheet" href="../../assets/css/layout/footer.css">
      <!-- Custom fonts for this template-->
      <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template-->
      <link href="../../assets/css/layout/nav-dashbord.min.css" rel="stylesheet">

    </head>

    <body id="page-top">
<header>
      {% if pais_id == 1 %}

        {{ include('layout/nav-header-portugues.html') }}
                        {% else %}
        {{ include('layout/nav-header-ingles.html') }}
                     {% endif %}


  </header>
  <main>
      {% if pais_id == 1 %}
      
        {{ include('layout/nav-dashboard-portugues.html') }}
      {% else %}
          {{ include('layout/nav-dashboard-ingles.html') }}
      {% endif %}


       <div class="container">





        <h2 align="center" class="text-dark"> Editar artigo para o blog</h2>
        <form action="/adminpostblog/edit" enctype="multipart/form-data" method="POST" >


          <div class="row mb-2">
            <div class="offset-2 col-md-8" >
              <div class="card  box-shadow h-md-300" >
                <div class="card-body align-items-start">
                 <div class="form-group">
                  <label for="categoria">Categoria</label>
                  <select class="form-control" name="blogcat_id" id="categoria">
                    <option selected="" value="{{blogcat_id}}">{{blogcat_nome}} (SELECIONADO)</option>
                    {% for blogcategoria in getcategorias %}

                    <option  value="{{ blogcategoria.blogcat_id}}">{{ blogcategoria.blogcat_nome|e }}</option>
                    {% endfor %}
                  </select>
                </div>

                <input type="hidden" name="blog_date">
                <input type="hidden"  name="blog_id" value="{{blog_id}}">
                <input type="hidden"  name="post_id" value="{{post_id}}">

                <label for="destaque">Artigo Destaque ?</label>
                <select class="form-control" name="blogdestaque_id" id="destaque">


                  {% for getdestaques in getBlogDestaques %}

                  {% if getdestaques.blogdest_id == blogdest_id %}
                  <option selected="" value="{{blogdest_id}}">{{blogdest_nome}} (SELECIONADO)</option>
                  {% endif %} 
                  <option  value="{{getdestaques.blogdest_id}}">{{getdestaques.blogdest_nome}}</option>
                  {% endfor %}


                </select>


                <label for="post_paisid">Artigo pais:</label>
                <select class="form-control" name="post_paisid" id="post_paisid">


                  {% for getdestaques in getBlogDestaques %}

                  {% if getdestaques.post_paisid == post_paisid %}
                  <option selected="" value="1">Português</option>
                  {% endif %} 
                  <option  value="2">Ingles</option>
                  {% endfor %}
                </select>



                <div class="form-group">

                  <label class="text-dark">{{blog_destaque}}:</label>
                  

                  <input class="form-control" type="text" name="post_titulo" value="{{post_titulo}}"> 
                </div>
                <div class="form-group">

                  <label class="text-dark">Subtitulo artigo:</label>

                  <input class="form-control" type="text" name="post_subtitulo" value="{{post_subtitulo}}"> 
                </div> 
                <div class="form-group">

                  <label class="text-dark">description artigo:</label>

                  <input class="form-control" type="text" name="post_description" value="{{post_description}}"> 
                </div> 

                <div class="form-group">
                  <label>Imagem para o artigo</label>
                  <img src="">
                  <input type="file" name="blog_img">
                  <div class="form-group">
                  </div> 
                  <label class="text-dark"> Texto para o artigo:</label>
                  <textarea class="form-control" type="text" name="blog_text"> 
                    {{blog_text}}
                  </textarea>
                </div>
                          <section class="col-md-12 mb-3">
                            <section class="form-group">
                              <label for="exampleFormControlSelect1">Post :</label>
                              <select name="post_id" class="form-control" id="exampleFormControlSelect1" required>
                                {% for post in getpost  %}
                                <option value="{{post.post_id}}">{{post_id.post_titulo}} | {{post.post_subtitulo}} </option>
                                {% endfor %}
                              </select>
                            </section>
                          </section>

                <button type="submit" class="btn btn-primary btn-sm"> Adicionar artigo</button>

              </div>



            </div>
          </div>

        </div>

      </form>



    </div>

  </main>

  {{ include('layout/nav-dashboard-end.html') }}
  {{ include('layout/footer-pt.html') }}
  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>

</body>

</html>


