
    <!DOCTYPE html>
<html lang="{{html_lang}}">
<head>

  <meta charset="{{meta_charset}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">

  <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="../../../assets/Logotipo/faviconstartuparcade.svg" />
<link href="../../assets/index/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="../../../assets/index/css/style.css" rel="stylesheet">

  <link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
</head>
<body>


  <header id="header" class="fixed-top">
   
    <section class="container d-flex">
      <section class="logo mr-auto">
        <figure>
          <a href="/">
            <img src="../assets/Logotipo/logo-index.svg"  alt="startups arcade " class="width=device-width" width="180vm"></a>
          </figure>
        </section>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
 <li><a href="/#services">{{navmenu_1}}</a></li>
           <li><a href="/#portfolio">{{navmenu_2}}</a></li>
           <li><a href="/usuario/show">{{navmenu_3}}</a></li>
           <li><a href="/entrar/show">{{navmenu_4}}</a></li>
           <li><a href="/#contact">{{navmenu_5}}</a></li>      
               </ul>
        </nav>

        <section class="header-social-links">
        </section>

      </section>
  
  </header>


<main id="main">
    <section class="container">

<hr>
 <br> <br> <br>
      <section class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">  
         {% for blogcategoria in  getblogcategorias %}           
         <a class="p-2 text-muted" href="/learning/learningcategoria/{{blogcategoria.postblogcat_id}}"> {{blogcategoria.postblogcat_nome|e}}</a>

            {% endfor %}
          </nav>

          <hr>
          
        </section>

        <div class="card">

        {% for postBlogDestaques in  postBlogDestaque %}  
          <img src="../../../assets/img/{{postBlogDestaques.post_img}}" class="card-img-top" alt="{{postBlogDestaques.post_img_alt}}">
          <div class="card-body">
            <h5 class="card-title">{{postBlogDestaques.post_titulo}}</h5>
            <p class="card-text">{{postBlogDestaques.post_subtitulo}}</p>
            <a href="#" class="btn btn-outline-secondary btn-sm"> {{continue_lendo}}</a> 
    

          </div>
        {% endfor %}
        </div>


        <hr>

        <section class="row mb-2">
          {% for post in  postBlog %}  





          <section class="col-md-6">
            <section class="card flex-md-row mb-4 box-shadow h-md-250">
            
              <section class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-danger">{{post.postblogcat_nome}}</strong>
                         <img src="../../../assets/img/{{post.post_img}}" class="card-img-top" alt="{{postBlogDestaques.post_img_alt}}">
<hr>
                {% if admin_session  %}
                <strong class=text-dark>Local post: {{post.blogdest_nome}} </strong>
                {% endif %} 
             


                <h3 class="mb-0">
                  {{post.post_titulo}}
                </h3>
                <section class="mb-1 text-muted">{{post.blog_date | date("m/d/y")}}</section>
                <p class="card-text mb-auto"> <strong>{{post.post_subtitulo}}.</strong></p> <hr>
                <p>{{post.post_description}} <br></p>

                <a href="/learning/show/{{post.blogpost_id}} " class="btn btn-outline-secondary btn-sm">{{continue_lendo}}</a>




                {% if admin_session  %}
                <section class="card-body">
                 <a href="/adminpostblog/destroy/{{post.blogpost_id}}" class="btn btn-danger btn-sm"> {{btn_excluir}} </a>
               </section>
               {% endif %}
             </section>

           </section>

         </section>     

         {% endfor %}
       </section>
     </section>

   </main>

   {{ include('layout/nav-dashboard-end.html') }}
   {% if pais_id == 1 %}
   {{ include('layout/footer-pt.html') }}
   {% else %}
   {{ include('layout/footer-en.html') }}
   {% endif %}


<script src="../../../assets/index/vendor/jquery/jquery.min.js"></script>
<script src="../../../assets/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/index/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="../../../assets/index/vendor/php-email-form/validate.js"></script>
<script src="../../../assets/index/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../../assets/index/vendor/venobox/venobox.min.js"></script>
<script src="../../../assets/index/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="../../../assets/index/vendor/aos/aos.js"></script>
<script src="../../../assets/index/js/main.js"></script>


 </body>

 </html>

