    <!DOCTYPE html>
<html lang="{{html_lang}}">
<head>
  <meta charset="{{meta_charset}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
    <link rel="icon" type="imagem/png" href="/imagens/meufavicon.png" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		body{
			max-width: 2000px;
		}
	</style>
		<title>{{title}} </title>

	<link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
	<link href="../../assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/aos/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="../../assets/css/layout/footer.css">>
	<link href="../../../assets/index/css/style.css" rel="stylesheet">
	<link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header id="header" class="fixed-top">
		<div class="container d-flex">
			<section class="logo mr-auto">
				<figure>
					<a href="/">
						<img src="../assets/Logotipo/logo.svg"  alt="onclickup logo" class="width=device-width" width="180vm"></a>

					</figure>
				</section>

			        <nav class="nav-menu d-none d-lg-block">
          <ul>
           <li><a href="#services">{{navmenu_1}}</a></li>

              <li><a href="#portfolio">{{navmenu_2}}</a></li>
            <li><a href="/usuario/show">{{navmenu_3}}</a></li>
            <li><a href="/entrar/show">{{navmenu_4}}</a></li>
            <li><a href="#contact">{{navmenu_5}}</a></li>

          </ul>
        </nav>

        <section class="header-social-links">
          <a href="{{nav_redesocial_1}}" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="{{nav_redesocial_2}}" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="{{nav_redesocial_3}}" class="instagram"><i class="icofont-instagram"></i></a>
          <a href="{{nav_redesocial_4}}" class="linkedin"><i class="icofont-linkedin"></i></i></a>
        </section>
			</section>
		</section>
	</header><!-- End Header -->

	<main style="margin-bottom: 25%;">

		<section class="container h-100">
			<section class="row">

				<section class="col-sm-6 mt-5 ">
					<section class="card-body" >
						<h4>{{login_h4}}</h4>

						<strong>	{{login_a_strong}}  ? <a href="/cadastrocandidato/show"> {{login_a_cadastra_se}}</a></strong>
						<hr>

						{{  messagem('login') | raw }}

						<form action="/entrar/store" method="post" >
							<section class="form-group">
								usuario1@gmail.com <br>
								usuario@gmail.com <br>
								nato.re.vieira@gmail. <br>
							<label for="exampleInputEmail1">{{login_email}}:</label>
								<input type="email" name="user_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{login_email_reploceholder}} ">
								<small id="emailHelp" class="form-text text-muted">{{email_texto}}</small>
							</section>
							<section class="form-group">
								<label for="exampleInputPassword1">{{login_senha}} </label>
								<input type="password" name="user_senha" class="form-control" id="exampleInputPassword1" placeholder="Senha">
							</section>
							<button type="submit" class="btn btn-primary btn-sm">{{button_entrar}}</button><br>
							<strong>{{entrar_com}} </strong><br>

							<a href="" class="btn btn-primary btn-circle btn-lg" > <i class="fab fa-facebook-f"> 	</i>	</a>
							<a href="" class="btn btn-danger btn-circle btn-lg" > <i class="fab fa-google fa-fw"> 	</i>	</a>
						</form>
					</section>

				</section>
				<section class="col-sm-6 mt-5">
					<section class="card-body mt-5" >
						<section class="alert alert-success" role="alert">
							<h4 class="alert-heading">{{card_alert_h4}} </h4>
							<p>{{card_alert_p}} </p>
						</p>
					</section>
				</section>
			</section>

		</section>
	</section>
</section>
</main >
<hr>	

 {% if pais_id == 1 %}
        {{ include('layout/footer-pt-index.html') }}
 {% else %}
          {{ include('layout/footer-en-index.html') }}
 {% endif %}

<script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
</body>
</html>
