<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Entrar onclickup">
	<meta name="keywords" content="Entrar onclickup">
	<meta name="author" content="Entrar onclickup">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		body{
			max-width: 2000px;
		}
	</style>
		<title>Onclickup | Entrar </title>

	<link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
	<link href="../../assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/aos/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="../../assets/css/layout/footer.css">>
	<link href="../../../assets/index/css/style.css" rel="stylesheet">
	<link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header id="header" class="fixed-top">
		<div class="container d-flex">
			<section class="logo mr-auto">
				<figure>
					<a href="/">
						<img src="../assets/Logotipo/logo.svg"  alt="onclickup logo" class="width=device-width" width="180vm"></a>

					</figure>
				</section>

				<nav class="nav-menu d-none d-lg-block">
					<ul>
						<li class="drop-down"><a href="">sobre</a>
							<ul>
								<li><a href="#about">About Us</a></li>
								<li><a href="#testimonials">Testimonials</a></li>
								<li class="drop-down"><a href="#">Deep Drop Down</a>
									<ul>

										<li><a href="#">Deep Drop Down 5</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#services">Serviços</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#pricing">Para empresas</a></li>
						<li class="drop-down"><a href="#">Inscreva-se</a>
							<ul>

								<li><a href="/cadastroempresa/show">Pessoa juridica</a></li>
								<li><a href="/cadastrocandidato/show">Pessoa fisica</a></li>
							</ul>
						</li>
						<li><a href="/entrar/show">Entrar</a></li>
						<li><a href="#contact">Contato</a></li>

					</ul>
				</nav>

				<section class="header-social-links">
					<a href="#" class="twitter"><i class="icofont-twitter"></i></a>
					<a href="#" class="facebook"><i class="icofont-facebook"></i></a>
					<a href="#" class="instagram"><i class="icofont-instagram"></i></a>
					<a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
				</section>

			</section>
		</section>
	</header><!-- End Header -->

	<main style="margin-bottom: 25%;">

		<section class="container h-100">
			<section class="row">

				<section class="col-sm-6 mt-5 ">
					<section class="card-body" >
						<h4>Efetue o login</h4>
						<strong>	Não tem cadastro ? <a href="/cadastrocandidato/show">  cadastra-se </a></strong>
						<hr>

						{{  messagem('login') | raw }}

						<form action="/entrar/store" method="post" >
							<section class="form-group">
								usuario1@gmail.com
								usuario@gmail.com
								nato.re.vieira@gmail.com
							<label for="exampleInputEmail1">Endereço de email ou nome de usuario</label>
								<input type="email" name="user_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email ou user name">
								<small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
							</section>
							<section class="form-group">
								<label for="exampleInputPassword1">Senha</label>
								<input type="password" name="user_senha" class="form-control" id="exampleInputPassword1" placeholder="Senha">
							</section>
							<button type="submit" class="btn btn-primary btn-sm">Entrar</button><br>
							<strong>Entra com:</strong><br>

							<a href="" class="btn btn-primary btn-circle btn-lg" > <i class="fab fa-facebook-f"> 	</i>	</a>
							<a href="" class="btn btn-danger btn-circle btn-lg" > <i class="fab fa-google fa-fw"> 	</i>	</a>
						</form>
					</section>

				</section>
				<section class="col-sm-6 mt-5">
					<section class="card-body mt-5" >
						<section class="alert alert-success" role="alert">
							<h4 class="alert-heading">Entre, assim  poder ultilizar nossa plataforma</h4>
							<p>Você podera explorar serviços, concursos, dicas, empregos e estagios. </p>
						</p>
					</section>
				</section>
			</section>

		</section>
	</section>
</section>
</main >
<hr>	
{{ include('layout/footer-index.html') }}
<script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
</body>
</html>
