<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Onclickup</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <link href="../../assets/index/img/favicon.png" rel="icon">
  <link href="../../assets/index/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../../assets/index/css/style.css" rel="stylesheet">
</head>
<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex">
      <section class="logo mr-auto">
        <figure>
          <a href="/">
            <img src="../assets/Logotipo/logo.svg"  alt="onclickup logo" class="width=device-width" width="180vm"></a>
          </figure>
        </section>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="drop-down"><a href="">sobre</a>
              <ul>
                <li><a href="#about">About Us</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li class="drop-down"><a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#services">Serviços</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#pricing">Para empresas</a></li>
          
            <li><a href="/usuario/show">Inscreva-se</a></li>
            <li><a href="/entrar/show">Entrar</a></li>
            <li><a href="#contact">Contato</a></li>

          </ul>
        </nav>

        <section class="header-social-links">
          <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
          <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
        </section>

      </section>
    </section>
  </header>
  <section id="hero">

    <section class="container">
      <article class="row">
       <section class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
        <section>
          <h1>Publique serviços, compartilhe  ou contrate.</h1>
          <h2> Para prestadores de serviços digitais ou fisicos  ajudamos  você a expandir os seus negócios</h2>
          <a href="#about" class="btn-get-started scrollto">inscreva- se </a>
        </section>
      </section>
      <figure class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
       <img src="../../../assets/index/img/hero-img.png" class="img-fluid" alt="">
       <figcaption></figcaption>
     </figure>

   </article>
 </section>

</section>
</div>

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <section class="container">

      <section class="row">
        <figure class="col-lg-6" data-aos="zoom-in">
          <img src="../../../assets/index/img/about.jpg" class="img-fluid" alt="Sobre">
        </figure>
        
        <article class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
          <section class="content pt-4 pt-lg-0">
            <h3>Aprenda mais sobre nós</h3>
            <p class="font-italic">
              Uma empresa que nasceu um um proposito explorar as habilidades das pessoas e assim gerar renda para elas.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperd</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate tera noden carma palorp mades tera.
            </p>
          </section>
        </article>
      </section>

    </section>
  </section><!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <section class="container">

      <section class="row">
        <section class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item" data-aos="fade-up">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                <h4> Dashboard</h4>
                <p> Acompanhe métricas e indicadores importantes para alcançar objetivos e metas traçadas de forma visual, facilitando a compreensão.</p>
              </a>
            </li>
            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
              <a class="nav-link" data-toggle="tab" href="#tab-2">
                <h4>Bate papo</h4>
                <p>Chat para mais facil interação com o cliente ou o candidato.</p>
              </a>
            </li>
            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
              <a class="nav-link" data-toggle="tab" href="#tab-3">
                <h4>Monetize seus serviços. </h4>
                <p>Gere uma renda extra.</p>
              </a>
            </li>
            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
              <a class="nav-link" data-toggle="tab" href="#tab-4">
                <h4>Crie seu  perfil.</h4>
                <p>Veja perfil, siga uma  empresa ou  pessoa fisica</p>
              </a>
            </li>
          </ul>
        </section>
        <section class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
          <section class="tab-content">
            <section class="tab-pane active show" id="tab-1">
              <figure>
                <img src="../../../assets/index/img/features-1.png" alt="" class="img-fluid">
              </figure>
            </section>
            <section class="tab-pane" id="tab-2">
              <figure>
                <img src="../../../assets/index/img/features-2.png" alt="" class="img-fluid">
              </figure>
            </section>
            <section class="tab-pane" id="tab-3">
              <figure>
                <img src="../../../assets/index/img/features-3.png" alt="" class="img-fluid">
              </figure>
            </section>
            <section class="tab-pane" id="tab-4">
              <figure>
                <img src="../../../assets/index/img/features-4.png" alt="" class="img-fluid">
              </figure>
            </section>
          </section>
        </section>
      </section>

    </section>
  </section><!-- End Features Section -->

  <!-- ======= Services Section ======= -->
  <article id="services" class="services section-bg p-4">
    <section class="container">

      <section class="section-title" data-aos="fade-up">
        <h2>Para Empresas</h2>
        <p>Publique vagas gratuitamente, procure candidatos compativeis com a vaga publicada.</p>
      </section>

      <section class="row p-2">

        <section class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
          <section class="icon-box icon-box-cyan">
            <section class="icon"><i class="bx bx-file"></i></section>
            <h4 class="title"><a href="">Provas</a></h4>
            <p class="description">Elabore Provas de matemática, português ou  testes de Raciocínio Lógico</p>
          </section>
        </section>

        <section class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <section class="icon-box icon-box-green">
            <section class="icon"><i class="bx bx-tachometer"></i></section>
            <h4 class="title"><a href="">Dashboard</a></h4>
            <p class="description">Ultilize nossa dashboard para controlle de objetivos e metricas</p>
          </section>
        </section>

        <section class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <section class="icon-box icon-box-blue">
            <section class="icon"><i class="bx bx-world"></i></section>
            <h4 class="title"><a href="">Modo Gestor </a></h4>
            <p class="description"> Crie usuario, acompanhe metricas  e atividades</p>
          </section>
        </section>

      </section>

    </article>

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <section class="container">

        <section class="section-title" data-aos="fade-up">
          <h2>Nossa plataformas</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </sectionv>

        <section class="row">
          <section class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tudo</li>
              <li data-filter=".filter-app">o app</li>
              <li data-filter=".filter-card">notificaçoes</li>
              <li data-filter=".filter-web">perfil</li>
            </ul>
          </section>
        </section>

        <section class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <article class="col-lg-4 col-md-6 portfolio-item filter-app">
            <section class="portfolio-wrap">
             <figure>
              <img src="../../../assets/index/img/portfolio/exemploservico.png" class="img-fluid" alt="">
            </figure>
            <section class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
            </section>
            <section class="portfolio-links">
              <a href="../../../assets/index/img/portfolio/exemploservico.png" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i>
              </section>
            </section>
          </article>

          <article class="col-lg-4 col-md-6 portfolio-item filter-web">
            <section class="portfolio-wrap">
              <figure>
                <img src="../../../assets/index/img/portfolio/exploreservicos.png" class="img-fluid" alt="">
              </figure>
              <section class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </section>
              <section class="portfolio-links">
                <a href="../../../assets/index/img/portfolio/exploreservicos.png" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </section>
            </section>
          </article>


          <article class="col-lg-4 col-md-6 portfolio-item filter-card">
            <section class="portfolio-wrap">
             <figure>
              <img src="../../../assets/index/img/portfolio/perfil.PNG" class="img-fluid" alt="">
            </figure>
            <section class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
            </section>
            <section class="portfolio-links">
              <a href="../../../assets/index/img/portfolio/perfil.PNG" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </section>
          </section>
        </article>

        <article class="col-lg-4 col-md-6 portfolio-item filter-web">
          <section class="portfolio-wrap">
           <figure>
            <img src="../../../assets/index/img/portfolio/Provas.PNG" class="img-fluid" alt="">
          </figure>
          <section class="portfolio-info">
            <h4>Web 2</h4>
            <p>Web</p>
          </section>
          <section class="portfolio-links">
            <a href="../../../assets/index/img/portfolio/Provas.PNG" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </section>
        </section>
      </article>

      <article class="col-lg-4 col-md-6 portfolio-item filter-app">
        <section class="portfolio-wrap">
         <figure>
          <img src="../../../assets/index/img/portfolio/questionario.PNG" class="img-fluid" alt="">
        </figure>
        <section class="portfolio-info">
          <h4>App 3</h4>
          <p>App</p>
        </section>
        <section class="portfolio-links">
          <a href="../../../assets/index/img/portfolio/questionario.PNG" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
          <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
        </section>
      </section>
    </article>

    <article class="col-lg-4 col-md-6 portfolio-item filter-card">
      <section class="portfolio-wrap">
       <figure>
        <img src="../../../assets/index/img/portfolio/vagaspublicadas.PNG" class="img-fluid" alt="">
      </figure>
      <section class="portfolio-info">
        <h4>Card 1</h4>
        <p>Card</p>
      </section>
      <section class="portfolio-links">
        <a href="../../../assets/index/img/portfolio/vagaspublicadas.PNG" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
        <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
      </section>
    </section>
  </article>

  <article class="col-lg-4 col-md-6 portfolio-item filter-card">
    <section class="portfolio-wrap">
     <figure>
      <img src="../../../assets/index/img/portfolio/responsividade.PNG" class="img-fluid" alt="">
    </figure>
    <section class="portfolio-info">
      <h4>Card 3</h4>
      <p>Card</p>
    </section>
    <section class="portfolio-links">
      <a href="../../../assets/index/img/portfolio/responsividade.PNG" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
    </section>
  </section>
</article>

<article class="col-lg-4 col-md-6 portfolio-item filter-web">
  <section class="portfolio-wrap">
   <figure>
    <img src="../../../assets/index/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
  </figure>
  <section class="portfolio-info">
    <h4>Web 3</h4>
    <p>Web</p>
  </section>
  <section class="portfolio-links">
    <a href="../../../assets/index/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
  </section>
</section>
</article>

</section>

</section>
</section><!-- End Portfolio Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <section class="container">

    <section class="row" data-aos="zoom-in">
      <section class="col-lg-9 text-center text-lg-left">
        <h3>Para pessoa fisicas</h3>
        <p> Explore suas habilidade, publique serviços, inscreva-se em vagas, concursos publicos ou procure por serviços.</p>
      </section>
      <section class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="/cadastrocandidato/show">INSCREVA-SE</a>
      </section>
    </section>

  </section>
</section><!-- End Cta Section -->



<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing section-bg mb-3">
  <section class="container">

    <section class="section-title" data-aos="fade-up">
      <h2>Nossos planos</h2>

    </section>

    <section class="row">
     <section class="col-lg-4 col-md-6 mt-4 mt-md-0">
      <section class="box featured" data-aos="zoom-in" data-aos-delay="100">
        <h3>Gratuito</h3>
        <h4><sup>R$</sup>0<span></span></h4>
        <ul>
          <li>Modo gestor</li>
          <li> <span>1</span> Usuario</li>
          <li>Siga pessoas ou empresas</li>
          <li>100% designer responsivo</li>
          <li> <span>1</span> Crie provas</li>
          <li> <span>1</span> Questionarios</li>
          <li>Procure candidatos</li>
          <li>Contrate serviços</li>
          <li>Publique vagas</li>
          <li>Contrate serviços</li>
          <li>Bate papo em tempo real</li>
        </ul>
        <section class="btn-wrap">
          <a href="#" class="btn-buy">INSCREVA-SE</a>
        </section>
      </section>
    </section>

    <section class="col-lg-4 col-md-6">
      <section class="box" data-aos="zoom-in">
        <h3>PREMIUM </h3>
        <h4><sup>R$</sup>650,00<span> /Ano <br> OU</span></h4>
        <ul>
          <li class="text-success">10X de R65,00</li>
          <hr>
          <li>Modo gestor</li>
          <li> <span>Até 10</span> Usuarios</li>
          <li>Siga pessoas ou empresas</li>
          <li>100% designer responsivo</li>
          <li> <span>8</span> Crie provas</li>
          <li> <span>8 </span> Questionarios</li>
          <li>Procure candidatos</li>
          <li>Contrate serviços</li>
          <li>Publique vagas</li>
          <li>Contrate serviços</li>
          <li>Bate papo em tempo real</li>
          <li>Relatórios mensais de graficos e status</li>
        </ul>
        <section class="btn-wrap">
          <a href="#" class="btn-buy">INSCREVA-SE</a>
        </section>
      </section>
    </section>



    <section class="col-lg-4 col-md-6 mt-4 mt-lg-0">
      <section class="box" data-aos="zoom-in" data-aos-delay="200">
        <h3>PREMIUM  PLUS</h3>
        <h4><sup>R$</sup>1100,00<span> /Ano <br> OU</span></h4>
        <ul>
          <li class="text-success">10X de R$:110,00</li>
          <hr>
          <li>Modo gestor</li>
          <li> <span>Até 15</span> Usuarios</li>
          <li>Siga pessoas ou empresas</li>
          <li>100% designer responsivo</li>
          <li> <span>16</span> Crie provas</li>
          <li> <span>16 </span> Questionarios</li>
          <li>Procure candidatos</li>
          <li>Contrate serviços</li>
          <li>Publique vagas</li>
          <li>Contrate serviços</li>
          <li>Bate papo em tempo real</li>
          <li>Relatórios mensais de graficos e status</li>
        </ul>
        <section class="btn-wrap">
          <a href="#" class="btn-buy">INSCREVA-SE</a>
        </section>
      </section>
    </section>
  </section>
</section>
<br>  
</section>

<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq" class="text-lg-left">
  <section class="container">

    <section class="section-title aos-init aos-animate" data-aos="fade-up">
      <h2>Frequently Asked Questions</h2>
    </section>

    <ul class="faq-list text-left pt-2">

      <li data-aos="fade-up" class="aos-init aos-animate pt-1">
        <a data-toggle="collapse" class="collapsed" href="#faq1" aria-expanded="false">Non consectetur a erat nam at lectus urna duis? <i class="icofont-simple-up"></i></a>
        <section id="faq1" class="collapse" data-parent=".faq-list" >
          <p>
            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
          </p>
        </section>
      </li>

      <li data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate pt-1">
        <a data-toggle="collapse" href="#faq2" class="collapsed" aria-expanded="false">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="icofont-simple-up"></i></a>
        <section id="faq2" class="collapse" data-parent=".faq-list" style="">
          <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
          </p>
        </section>
      </li>

      <li data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
        <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="icofont-simple-up"></i></a>
        <section id="faq3" class="collapse" data-parent=".faq-list">
          <p>
            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
          </p>
        </section>
      </li>

      <li data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
        <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="icofont-simple-up"></i></a>
        <section id="faq4" class="collapse" data-parent=".faq-list">
          <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
          </p>
        </section>
      </li>

      <li data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">
        <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="icofont-simple-up"></i></a>
        <section id="faq5" class="collapse" data-parent=".faq-list">
          <p>
            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
          </p>
        </section>
      </li>

      <li data-aos="fade-up" data-aos-delay="500" class="aos-init aos-animate">
        <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="icofont-simple-up"></i></a>
        <section id="faq6" class="collapse" data-parent=".faq-list">
          <p>
            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
          </p>
        </section>
      </li>

    </ul>

  </section>
</section>
<!-- :?!-- End Frequently Asked Questions Section --> 

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
  <section class="container">
    <br>  
    <section class="section-title" data-aos="fade-up">
      <h2>Entre em  Contato </h2>
    </section>

    <section class="row">

      <section class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
        <section class="info">
          <section class="address">
            <i class="icofont-google-map"></i>
            <h4>Localização:</h4>
            <p>Maua, são paulo</p>
          </section>

          <section class="email">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>contato@onclickup.com</p>
          </section>

          <section class="phone">
            <i class="icofont-phone"></i>
            <h4>Fone:</h4>
            <p> 55 11 986504035</p>
          </section>

          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </section>

      </section>

      <section class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <section class="form-row">
            <section class="form-group col-md-6">
              <label for="name">Seu  Nome:</label>
              <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <section class="validate"></section>
            </section>
            <section class="form-group col-md-6">
              <label for="name">Email:</label>
              <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
              <section class="validate"></section>
            </section>
          </section>
          <section class="form-group">
            <label for="name">Assunto:</label>
            <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <section class="validate"></section>
          </section>
          <section class="form-group">
            <label for="name">Mensagem:</label>
            <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
            <section class="validate"></section>
          </section>
          <section class="mb-3">
            <section class="loading">Loading</section>
            <section class="error-message"></section>
            <section class="sent-message">Your message has been sent. Thank you!</section>
          </section>
          <section class="text-center"><button type="submit">Enviar mensagem</button></section>
        </form>
      </section>

    </section>

  </section>
</section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{ include('layout/footer-index.html') }}

<!-- Vendor JS Files -->
<script src="../../../assets/index/vendor/jquery/jquery.min.js"></script>
<script src="../../../assets/index/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/index/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="../../../assets/index/vendor/php-email-form/validate.js"></script>
<script src="../../../assets/index/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../../../assets/index/vendor/venobox/venobox.min.js"></script>
<script src="../../../assets/index/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="../../../assets/index/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="../../../assets/index/js/main.js"></script>

</body>

</html>