<html lang="pt">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Free Web tutorials">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="John Doe">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../assets/css/bootstrap/bootstrap-reboot.css">
	<link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/index/maispost.css">
	<link rel="stylesheet" href="../assets/css/layout/card-btn-post.css">
	<link rel="stylesheet" href="../assets/css/layout/header-navbar-principal.css">
	<link rel="stylesheet" href="../assets/css/layout/footer.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title> {tipopost} </title>

</head>

<body>

	<header id="header" class="fixed-top">
		<div class="container d-flex">

			<section class="logo mr-auto">
				<figure>
					<a href="/">
						<img src="../assets/Logotipo/logo.svg"  alt="onclickup logo" class="width=device-width" width="180vm"></a>

					</figure>
				</section>

				<nav class="nav-menu d-none d-lg-block">
					<ul>
						<li class="drop-down"><a href="">sobre</a>
							<ul>
								<li><a href="#about">About Us</a></li>
								<li><a href="#testimonials">Testimonials</a></li>
								<li class="drop-down"><a href="#">Deep Drop Down</a>
									<ul>

										<li><a href="#">Deep Drop Down 5</a></li>
									</ul>
								</li>
							</ul>
						</li>



						<li><a href="#services">Serviços</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#pricing">Para empresas</a></li>
						<li class="drop-down"><a href="#">Inscreva-se</a>
							<ul>

								<li><a href="/cadastroempresa/show">Pessoa juridica</a></li>
								<li><a href="/cadastrocandidato/show">Pessoa fisica</a></li>
							</ul>
						</li>
						<li><a href="/entrar/show">Entrar</a></li>
						<li><a href="#contact">Contato</a></li>

					</ul>
				</nav><!-- .nav-menu -->

				<section class="header-social-links">
					<a href="#" class="twitter"><i class="icofont-twitter"></i></a>
					<a href="#" class="facebook"><i class="icofont-facebook"></i></a>
					<a href="#" class="instagram"><i class="icofont-instagram"></i></a>
					<a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
				</section>

			</div>

		</header>
	<main>

		
			
	</main>

	{{ include('layout/footer.html') }}


	<script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

</body>

</html>
