    <!DOCTYPE html>
<html lang="{{html_lang}}">
<head>
  <meta charset="{{meta_charse}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/materialize.min.css">

    <!-- Compiled and minified materialize CSS -->
    <link rel="stylesheet" href="../assets/css/menu.css">
    <link rel="stylesheet" href="../assets/css/cadastro.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">

    <!-- Compiled and minified JavaScript -->


    <title>Onclickup - increva-se</title>

termos

</head>

<body>

<header id="header" class="fixed-top">
    <div class="container d-flex">

      <section class="logo mr-auto">
        <!-- Uncomment below if you prefer to use an image logo -->
                <figure>
                    
        <a href="/"><img src="../assets/Logotipo/logo.svg"  alt="onclickup logo" class="width=device-width" width="180vm"></a>
                </figure>
      </section>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="drop-down"><a href="">sobre</a>
            <ul>
              <li><a href="/#about">sobre</a></li>
              <li><a href="/#team">Team</a></li>
              <li><a href="/#testimonials">Testimonials</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>



          <li><a href="/#services">Serviços</a></li>
          <li><a href="/#portfolio">Portfolio</a></li>
          <li><a href="/#pricing">Para empresas</a></li>
 <li class="drop-down"><a href="#">Inscreva-se</a>
                <ul>
                  <li><a href="#"></a></li>
                  <li><a href="#">Pessoa juridica</a></li>
                  <li><a href="#">Pessoa fisica</a></li>
                </ul>
              </li>
          <li><a href="/entrar/show">Entrar</a></li>
          <li><a href="/#contact">Contato</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <section class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </section>

    </div>
  </header><!-- End Header -->



    <main>
        <form>


            <section class="row">
                <section class="card">

                    <section class="titulo" align="center">

                        <h4 class="white-text"> Termos e condiçoes da plataforma </h4>
                    </section>


                    <li> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 00</li>
                    <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, asperiores, sint. Ab cum dolorem architecto pariatur. Dicta eum, cum ullam magni sequi aliquid. Tenetur praesentium nam, corporis nobis tempora maiores.</li>
                    <br>
                    <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores repellat, aperiam aut corporis consequatur eius odio fuga molestiae architecto necessitatibus perferendis iure fugit! Praesentium iusto amet expedita, eum ratione dolorum.</li>
                    <br>

                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dolore, cum! Fugiat obcaecati voluptatibus cumque modi perspiciatis soluta, esse rerum aliquam adipisci, impedit beatae praesentium placeat cum, ratione vitae recusandae?</li>
                </section>
            </section>





    </main>

    {{ include('layout/footer.html') }}





    <script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/animacao.js"></script>


</body>

</html>
