      <!DOCTYPE html>
<html lang="{{html_lang}}">
<head>
  <meta charset="{{meta_charset}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
  <title>{{title}}</title>
  <link href="../../assets/index/img/favicon.png" rel="icon">
  <link href="../../assets/index/img/apple-touch-icon.png" rel="apple-touch-icon">
      <link rel="icon" type="imagem/png" href="/imagens/meufavicon.png" />

  <link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../../assets/index/css/style.css" rel="stylesheet">
</head>
<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex">
      <section class="logo mr-auto">
        <figure>
          <a href="/">
            <img src="../assets/Logotipo/logo.svg"  alt="onclickup logo" class="width=device-width" width="180vm"></a>
          </figure>
        </section>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
           <li><a href="#services">{{navmenu_1}}</a></li>

              <li><a href="#portfolio">{{navmenu_2}}</a></li>
            <li><a href="/usuario/show">{{navmenu_3}}</a></li>
            <li><a href="/entrar/show">{{navmenu_4}}</a></li>
            <li><a href="#contact">{{navmenu_5}}</a></li>

          </ul>
        </nav>

        <section class="header-social-links">
        </section>

      </section>
    </section>
  </header>



<style type="text/css">
  footer {
    position: absolute;
    bottom: 0;
  }
</style>


    <main>
      <section class="container">
        <section class="card-body mt-5">

          <section class="alert alert-success  mt-5" role="alert">
            <h4 class="alert-heading">{{h1_termo}}</h4>
            <p>{{termo_p}} </p>
          
        </section>

        {% for gettermosLinha in  gettermos %}  


      <section class="card flex-md-row mb-4 box-shadow h-md-250">
        <section class="card-body d-flex flex-column align-items-start">

          <h3 class="mb-0"> {{gettermosLinha.term_titulo}} </h3>
          <h4 class="mb-0"> {{gettermosLinha.term_subtitulo}} </h4>
          <section class="mb-1 text-muted">
            <p class="card-text mb-auto"> <strong>{{gettermosLinha.term_text}}.</strong></p>
            date:{{gettermosLinha.term_date | date("m/d/y")}}
                {% if gettermosLinha.term_pais_id == 1 %}
                    <option value="1"> (selecionado) BR</option> 
                 {% else %}
                    <option value="2"> (selecionado) USA</option> 
                  {% endif %}

          </section>
                  {% if admin %}

            <button  type="button" class="btn btn-info" data-toggle="modal" data-target=".info-lg-{{gettermosLinha.term_id}}">editar</button>  

                  {% endif %}
        </section>
      </section> 
      {% endfor %}




      </section>
    </section>
    <hr>




  </main>

 {% if pais_id == 1 %}
        {{ include('layout/footer-pt-index.html') }}
 {% else %}
          {{ include('layout/footer-en-index.html') }}
 {% endif %}

  <script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../assets/js/validate.js"></script>



</body>

</html>
