    <!DOCTYPE html>
    <html lang="{{html_lang}}">
    <head>
      <meta charset="{{meta_charse}}">
      <meta name="description" content="{{description}}">
      <meta name="keywords" content="{{keywords}}">
      <meta name="author" content="{{author}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../assets/css/materialize.min.css">
      <link rel="icon" type="imagem/png" href="/imagens/meufavicon.png" />
      <link rel="stylesheet" href="../assets/css/menu.css">
      <link rel="stylesheet" href="../assets/css/cadastro.css">
      <link rel="stylesheet" href="../assets/css/footer.css">
      <link rel="stylesheet" href="../../assets/css/layout/footer.css">
      <title>{{title}}</title>
    </head>
    <body>
      <header id="header" class="fixed-top">
        <div class="container d-flex">
          <section class="logo mr-auto">
            <figure>
              <a href="/"><img src="../assets/Logotipo/logo.svg"  alt="onclickup logo" class="width=device-width" width="180vm"></a>
            </figure>
          </section>
          <nav class="nav-menu d-none d-lg-block">
            <ul>
             <li><a href="#services">{{navmenu_1}}</a></li>

             <li><a href="#portfolio">{{navmenu_2}}</a></li>
             <li><a href="/usuario/show">{{navmenu_3}}</a></li>
             <li><a href="/entrar/show">{{navmenu_4}}</a></li>
             <li><a href="#contact">{{navmenu_5}}</a></li>



           </ul>
         </nav>


       </header>


       <main>



        <section class="row">
          <section class="card">

            <section class="titulo" align="center">

              <h4 class="white-text">{{h4_termoseserviços}}</h4>
            </section>

          </section>
        </section>





      </main>

      {{ include('layout/footer.html') }}





      <script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../assets/js/materialize.min.js"></script>
      <script type="text/javascript" src="../assets/js/animacao.js"></script>


    </body>

    </html>
