      <!DOCTYPE html>
<html lang="{{html_lang}}">
<head>
  <meta charset="{{meta_charset}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
  <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="../../../assets/Logotipo/faviconstartuparcade.svg" />

  <link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../../assets/index/css/style.css" rel="stylesheet">
</head>
<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex">
      <section class="logo mr-auto">
        <figure>
          <a href="/">
            <img src="../assets/Logotipo/logo-index.svg"  alt="startups arcade " class="width=device-width" width="180vm"></a>
          </figure>
        </section>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
           <li><a href="#services">{{navmenu_1}}</a></li>

              <li><a href="#portfolio">{{navmenu_2}}</a></li>
            <li><a href="/usuario/show">{{navmenu_3}}</a></li>
            <li><a href="/entrar/show">{{navmenu_4}}</a></li>
            <li><a href="#contact">{{navmenu_5}}</a></li>

          </ul>
        </nav>

        <section class="header-social-links">
        </section>

      </section>
    </section>
  </header>



<style type="text/css">
  footer {
    position: absolute;
    bottom: 0;
  }
</style>


    <main>
      <section class="container">
 

       <section class="blog-post">
      {% for post in postBlog %}  

            <h5 class="blog-post-title">{{post.blog_artigo}}: {{post.post_titulo}}</h5>
            <h5>{{post.post_subtitulo}}</h5>
            <p class="blog-post-meta">Data post: {{post.blog_date}} </p>
            <hr>
            <p>{{post.post_description}} <br></p>
            <p>{{post.blog_text}} <br></p>
              {% endfor %}

          </section>
          </section>

  </main>

 {% if pais_id == 1 %}
        {{ include('layout/footer-pt-index.html') }}
 {% else %}
          {{ include('layout/footer-en-index.html') }}
 {% endif %}

  <script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../assets/js/validate.js"></script>



</body>

</html>
