<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Starstup arcade</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <link href="../../assets/index/img/favicon.png" rel="icon">
  <link href="../../assets/index/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../../assets/index/css/style.css" rel="stylesheet">
</head>
<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex">
      <section class="logo mr-auto">
        <figure>
          <a href="/">
            <img src="../assets/Logotipo/logo.svg"  alt="onclickup logo" class="width=device-width" width="180vm"></a>
          </figure>
        </section>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
           <li><a href="#services">{{navmenu_1}}</a></li>

              <li><a href="#portfolio">{{navmenu_2}}</a></li>
            <li><a href="/usuario/show">{{navmenu_3}}</a></li>
            <li><a href="/entrar/show">{{navmenu_4}}</a></li>
            <li><a href="#contact">{{navmenu_5}}</a></li>

          </ul>
        </nav>

        <section class="header-social-links">
          <a href="{{nav_redesocial_1}}" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="{{nav_redesocial_2}}" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="{{nav_redesocial_3}}" class="instagram"><i class="icofont-instagram"></i></a>
          <a href="{{nav_redesocial_4}}" class="linkedin"><i class="icofont-linkedin"></i></i></a>
        </section>

      </section>
    </section>
  </header>



<style type="text/css">
	footer {
		position: absolute;
		bottom: 0;
	}
</style>


		<main>
			<section class="container">
				<section class="card-body mt-5">

					<section class="alert alert-success  mt-5" role="alert">
						<h4 class="alert-heading">{{login_h4}}</h4>
						<p>{{login_p}} </p>
					</p>
				</section>

				{{  messagem('emailCadastrado') | raw }}
				<form  enctype="multipart/form-data"  class="needs-validation" action="/usuario/store" method ="post">
						<section class="form-row">
							<section class="col-md-4 mb-3" >
															<label for="validationCustom04">{{login_tipo_user}}</label>

							<select name="us_tipo_pessoa" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
								<option value="1">{{pf}}</option>
								<option value="2">{{pj}}</option>
							</select>
						</section>
					
						
						<section class="col-md-4 mb-3">
							<label for="validationCustomUsname">{{login_nome_usuario}}</label>
							<section class="input-group">
								
								<input type="text" name="us_nome" class="form-control" id="validationCustomUsername" placeholder="nome de usuario" aria-describedby="inputGroupPrepend" required>
								<section class="invalid-feedback">
								 {{requered_nome}} 
								</section>
							</section>
						</section>
					</section>
					<section class="form-row">
					</section>
			
					<section class="form-row">
						
						<section class="col-md-5 mb-3">
							<label for="validationCustom03">Email</label>
							<input type="text" class="form-control" name="us_email" id="validationCustom03" placeholder="email" required>
							<section class="invalid-feedback">
								{{required_email}} 
							</section>
						</section> 
						<section class="col-md-4 mb-3">
							<label for="validationCustom03">{{login_senha}}</label>
							<input type="password" class="form-control" name="us_senha" id="validationCustom03" placeholder="senha" required>
							<section class="invalid-feedback"> 
								{{required_senha}}
							</section>
						</section>
							<section class="col-md-6 mb-3">
							<label for="validationCustom04">{{email_foto}}</label>
							<input type="file" name="us_foto" class="form-control" id="us_foto" placeholder="insira uma foto" required>
							<section class="invalid-feedback">
								{{required_foto}} 
							</section>  
						</section>
					</section>
					<section class="form-group">
						<section class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
							<label class="form-check-label" for="invalidCheck">
								{{termos}}
							</label>
							<section class="invalid-feedback"> 
								 {{requered_termo}}
							</section>
						</section>
					</section>
					<button class="btn btn-primary" type="submit">{{button_inscrever}}</button>
				</form>




			</section>
		</section>
		<hr>
	</main>

{{ include('layout/footer-index.html') }}

	<script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/validate.js"></script>



</body>

</html>
