    <!DOCTYPE html>
<html lang="{{html_lang}}">
<head>
  <meta charset="{{meta_charset}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="author" content="{{author}}">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../../assets/Logotipo/faviconstartuparcade.svg" />

  <link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../assets/index/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/layout/footer.css">
  <link href="../../../assets/index/css/style.css" rel="stylesheet">
</head>
<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex">
      <section class="logo mr-auto">
        <figure>
          <a href="/">
            <img src="../assets/Logotipo/logo-index.svg"  alt="startups arcade " class="width=device-width" width="180vm"></a>
          </figure>
        </section>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
           <li><a href="#services">{{navmenu_1}}</a></li>

              <li><a href="#portfolio">{{navmenu_2}}</a></li>
            <li><a href="/usuario/show">{{navmenu_3}}</a></li>
            <li><a href="/entrar/show">{{navmenu_4}}</a></li>
            <li><a href="#contact">{{navmenu_5}}</a></li>

          </ul>
        </nav>

        <section class="header-social-links">
        </section>

      </section>
    </section>
  </header>



<style type="text/css">
	footer {
		position: absolute;
		bottom: 0;
	}
</style>


		<main>
			<section class="container">
				<section class="card-body mt-5">

					<section class="alert alert-success  mt-5" role="alert">
						<h4 class="alert-heading">{{login_h4}}</h4>
						<p>{{login_p}} </p>
					</p>
				</section>

				{{  messagem('emailCadastrado') | raw }}
				<form  enctype="multipart/form-data"  class="needs-validation" action="/usuario/store" method ="post">
			
						
						<section class="col-md-12 mb-3">
							<label for="validationCustom03">email</label>
							<input type="text" class="form-control" name="us_email" id="validationCustom03" placeholder="email" required>
							<section class="invalid-feedback">
								{{required_email}} 
							</section>
						</section> 
						<section class="col-md-12 mb-3">
							<label for="validationCustom03">{{login_senha}}</label>
							<input type="password" class="form-control" name="us_senha" id="validationCustom03" placeholder="{{login_senha}}" required>
							<section class="invalid-feedback"> 
								{{required_senha}}
							</section>
						</section>
						
						<section class="col-md-12 mb-6">
							<label for="validationCustomUsname">{{login_nome_usuario}}</label>
							<section class="input-group">
								
								<input type="text" name="us_nome" class="form-control" id="validationCustomUsername" placeholder="nome de usuario" aria-describedby="inputGroupPrepend" required>
								<section class="invalid-feedback">
								 {{requered_nome}} 
								</section>
							</section>
						</section>
							<section class="col-md-6 mb-3">
							<label for="validationCustom04">{{email_foto}}</label>
							<input type="file" name="us_foto" class="form-control" id="us_foto" placeholder="insira uma foto" required>
							<section class="invalid-feedback">
								{{required_foto}} 
							</section>  
						</section>
					<section class="form-group">
						<section class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
							<label class="form-check-label" for="invalidCheck">
								<a href="/termos/create" >{{termos}}</a>
							</label>
							<section class="invalid-feedback"> 
								 {{requered_termo}}
							</section>
						</section>
					</section>
					<button class="btn btn-primary" type="submit">{{button_inscrever}}</button>
				</form>




			</section>
		</section>
		<hr>
	</main>

 {% if pais_id == 1 %}
        {{ include('layout/footer-pt-index.html') }}
 {% else %}
          {{ include('layout/footer-en-index.html') }}
 {% endif %}

	<script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/validate.js"></script>



</body>

</html>
