<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Free Web tutorials">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="John Doe">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link href="../../assets/index/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/icofont/icofont.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/venobox/venobox.css" rel="stylesheet">
	<link href="../../assets/index/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="../../assets/index/vendor/aos/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="../../assets/css/layout/footer.css">

	<!-- Template Main CSS File -->
	<link href="../../../assets/index/css/style.css" rel="stylesheet">

	<link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<title>Onclickup </title>


</head>

<body>
	<header id="header" class="fixed-top">
		<div class="container d-flex">

			<section class="logo mr-auto">
				<figure>
					<a href="/">
						<img src="../assets/Logotipo/logo.svg"  alt="onclickup logo" class="width=device-width" width="180vm"></a>

					</figure>
				</section>

				<nav class="nav-menu d-none d-lg-block">
					<ul>
						<li class="drop-down"><a href="">sobre</a>
							<ul>
								<li><a href="#about">About Us</a></li>
								<li><a href="#testimonials">Testimonials</a></li>
								<li class="drop-down"><a href="#">Deep Drop Down</a>
									<ul>

										<li><a href="#">Deep Drop Down 5</a></li>
									</ul>
								</li>
							</ul>
						</li>



						<li><a href="#services">Serviços</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#pricing">Para empresas</a></li>
						<li class="drop-down"><a href="#">Inscreva-se</a>
							<ul>

								<li><a href="/cadastroempresa/show">Pessoa juridica</a></li>
								<li><a href="/cadastrocandidato/show">Pessoa fisica</a></li>
							</ul>
						</li>
						<li><a href="/entrar/show">Entrar</a></li>
						<li><a href="#contact">Contato</a></li>

					</ul>
				</nav><!-- .nav-menu -->

				<section class="header-social-links">
					<a href="#" class="twitter"><i class="icofont-twitter"></i></a>
					<a href="#" class="facebook"><i class="icofont-facebook"></i></a>
					<a href="#" class="instagram"><i class="icofont-instagram"></i></a>
					<a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
				</section>

			</div>

		</header>
		<main>
			<section class="container">
				<section class="card-body mt-5">

					<section class="alert alert-success  mt-5" role="alert">
						<h4 class="alert-heading">Inscreva-se ! Para poder ultilizar nossa plataforma</h4>
						<p>Você podera explorar a versão gratuita.</p>
					</p>
				</section>

				{{  messagem('emailCadastrado') | raw }}
				<form  enctype="multipart/form-data"  class="needs-validation" action="/usuario/store" method ="post">
						<section class="form-row">
							<section class="col-md-4 mb-3" >
															<label for="validationCustom04">Tipo Usuario</label>

							<select name="us_tipo_pessoa" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
								<option value="1">Pessoa fisica (CPF)</option>
								<option value="2">Pessoa juridica (CNPJ)</option>
							</select>
						</section>
					
						
						<section class="col-md-4 mb-3">
							<label for="validationCustomUsname">Nome usuário</label>
							<section class="input-group">
								
								<input type="text" name="us_nome" class="form-control" id="validationCustomUsername" placeholder="nome de usuario" aria-describedby="inputGroupPrepend" required>
								<section class="invalid-feedback">
									Por favor, escolha um nome de usuário.
								</section>
							</section>
						</section>
					</section>
					<section class="form-row">
					</section>
			
					<section class="form-row">
						
						<section class="col-md-5 mb-3">
							<label for="validationCustom03">Email</label>
							<input type="text" class="form-control" name="us_email" id="validationCustom03" placeholder="email" required>
							<section class="invalid-feedback">
								Por favor, informe o email.
							</section>
						</section>
						<section class="col-md-4 mb-3">
							<label for="validationCustom03">Senha</label>
							<input type="password" class="form-control" name="us_senha" id="validationCustom03" placeholder="senha" required>
							<section class="invalid-feedback">
								Por favor, informe a senha.
							</section>
						</section>
							<section class="col-md-6 mb-3">
							<label for="validationCustom04">Foto</label>
							<input type="file" name="us_foto" class="form-control" id="us_foto" placeholder="insira uma foto" required>
							<section class="invalid-feedback">
								Por favor, insira uma foto.
							</section>
						</section>
					</section>
					<section class="form-group">
						<section class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
							<label class="form-check-label" for="invalidCheck">
								Concordo com os termos e condições
							</label>
							<section class="invalid-feedback">
								Você deve concordar, antes de continuar.
							</section>
						</section>
					</section>
					<button class="btn btn-primary" type="submit">inscrever</button>
				</form>




			</section>
		</section>
		<hr>
	</main>

	{{ include('layout/footer-index.html') }}

	<script type="text/javascript" src="../assets/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../assets/js/validate.js"></script>



</body>

</html>
