 <footer>
<br>
		
			<div class="page-footer" id="footerColor mt-2">
			          <div class="container">
			            <div class="row">
			              <div class="col l6 s12">
			                <h5 class="white-text">Sobre nós  </h5>
			                <p class="grey-text textlighten-4"> <span class="fonteFooter">A nossa proposta é ajudar as pessoas a expor as suas melhores ideias de negócio, auxiliamos a criar o seu plano de negócio, modelagem baseada em canva e o seu MPV(mínimo produto viável) e achar um sócio e assim  criando um grupo a partir da sua ideia. Procurar um artigo na nossa startup e-lerning que o ajude  na sua jornada de empreendedor. Os nossos métodos são baseados em Silicon Valley método de compartilhar ideias, assim criando conexões para a sua ideia de negócio.  </span></p>
			              </div>
			              <div class="col l4 offset-l2 s12">
			                <h5 class="white-text"><span class="fonteFooter">Links </span></h5>
			                <ul>
			            <li><a href="#about">{{navmenu_1}}</a></li>

              <li><a href="/blog/create">{{navmenu_2}}</a></li>
            <li><a href="/usuario/show">{{navmenu_3}}</a></li>
            <li><a href="/entrar/show">{{navmenu_4}}</a></li>
            <li><a href="#contact">{{navmenu_5}}</a></li>
			                </ul>
			              </div>
			            </div>
			          </div>
			          <div class="footer-copyright" id="footercopy"  >
			            <div class="container">
			           <small><span class="fonteFooter">Copyright statup´s arcade 2021</span></small>
			            </div>
			          </div>
			    </div>
			    <br>
		</footer>

