 		<br>

 <footer class="footer-index">
 	<br>
			<section class="page-footer mt-2" id="footerColor">
			          <section class="container">
			            <section class="row">
			              <section class="col l6 s12">
			                <h5 class="white-text">Sobre nós  </h5>
			                <p class="grey-text text-lighten-4"> <span class="fonteFooter"> Nossa proposta é ajudar as pessoas a expor sua melhores ideias de negocio, nos auxiliamos a criar seu plano de negocio, modelagem baseada em canva e seu MPV(minimo produto viavel) e achar um socio criando um grupo apartir da sua idea. Procurar um artigo em nossa startup academy que o ajude  em sua jornada de empreendedor. Nossos metodos são baseado em Silicon Valley metodo de compartilhar ideias, assim criando conexões para sua ideia de negocio com pessoas  referencia na area em que se atua em seu fututo negocio.</span></p>
			              </section>
			              <section class="col l4 offset-l2 s12">
			                <h5 class="white-text"><span class="fonteFooter">Links </span></h5>
			                <ul>
           <li><a href="#about">{{navmenu_1}}</a></li>

              <li><a href="/blog/create">{{navmenu_2}}</a></li>
            <li><a href="/usuario/show">{{navmenu_3}}</a></li>
            <li><a href="/entrar/show">{{navmenu_4}}</a></li>
            <li><a href="#contact">{{navmenu_5}}</a></li>

			                </ul>
			              </section>
			            </section>
			          </section>
			          <section class="footer-copyright" id="footercopy"  >
			            <section class="container">
			           <small><span class="fonteFooter">Copyright statup´s arcade 2021</span></small>
			            </section>
			          </section>
			    </section>
		</footer>


