 <footer>
<br>
		
			<div class="page-footer" id="footerColor mt-2">
			          <div class="container">
			            <div class="row">
			              <div class="col l6 s12">
			                <h5 class="white-text">Contate-nós  </h5>
			                <p class="grey-text text-lighten-4"> <span class="fonteFooter">You can use rows and columns here to organize your footer content. </span></p>
			              </div>
			              <div class="col l4 offset-l2 s12">
			                <h5 class="white-text"><span class="fonteFooter">Links </span></h5>
			                <ul>
			                  <li><a class="grey-text text-lighten-3" href="#!"><i id="icones" class="material-icons"></i> <span class="fonteFooter"></span></a></li>
			                  <li><a class="grey-text text-lighten-3" href="#!"><span class="fonteFooter">Instagram </span></a></li>
			                  <li><a class="grey-text text-lighten-3" href="#!"> <span class="fonteFooter">Facebook </span></a></li>
			                  <li><a class="grey-text text-lighten-3" href="#!"><span class="fonteFooter">Contato </span> </a></li>
			                </ul>
			              </div>
			            </div>
			          </div>
			          <div class="footer-copyright" id="footercopy"  >
			            <div class="container">
			           <small><span class="fonteFooter">Copyright statup´s arcade 2021</span></small>
			            <a class="grey-text text-lighten-4 right" href="#!"><span class="fonteFooter">Mais Links </span></a>
			            </div>
			          </div>
			    </div>
			    <br>
		</footer>


