<br>
 <footer>
		
			<section class="page-footer" id="footerColor mt-2">
			          <section class="container">
			            <section class="row">
			              <section class="col l6 s12">
			                <h5 class="white-text">About us  </h5>
			                <p class="grey-text text-lighten-4"> <span class="fonteFooter">
Our proposal is to help people to expose their best business ideas, we help us to create your business plan, modeling based on canva and your MPV (minimum viable product) and find a partner creating a group based on your idea. Search for an article in our startup academy that will help you on your entrepreneurial journey. Our methods are based on the Silicon Valley method of sharing ideas, thus creating connections for your business idea with reference people in the area in which you operate in your future business.

			                 </span></p>
			              </section>
			              <section class="col l4 offset-l2 s12">
			                <h5 class="white-text"><span class="fonteFooter">Links </span></h5>
			                <ul>
			                  <li><a href="#about">{{navmenu_1}}</a></li>

              <li><a href="/blog/create">{{navmenu_2}}</a></li>
            <li><a href="/usuario/show">{{navmenu_3}}</a></li>
            <li><a href="/entrar/show">{{navmenu_4}}</a></li>
            <li><a href="#contact">{{navmenu_5}}</a></li>
			                </ul>
			              </section>
			            </section>
			          </section>
			          <section class="footer-copyright" id="footercopy"  >
			            <section class="container">
			           <small><span class="fonteFooter">Copyright statup´s arcade 2021</span></small>
			            </section>
			          </section>
			    </section>
			    <br>
		</footer>


